[2013-05-06 17:30] dmbates opened #1 "Finding your way around for R users"
In private email Martin Maechler asked me several questions about using Julia and the MixedModels package.  Because the answers to which may be of more general interest,  I created this issue for them so that others may see the answers and comment on them.

I am assuming that a recent version of Julia 0.2 devel is installed.  The easiest way to do that for Ubuntu users is using the [julianightlies

[2013-11-06 16:07] dmbates opened #2 "Printing of variance components for vector-valued random effects needs work"
[code]

It is not correctly counting the number of variance components.  Also the within-subject correlations should be printed.

[2014-02-13 18:42] simonster opened #3 "README needs update"
Many of the examples in the README reference `lmer`, which seems to have been renamed to `lmm`. Additionally, the README needs updates for the new `~` syntax and the `InstEval` dataset now appears to have different capitalization for its column names. Eventually the code also needs to be updated for the DataFrames string -> symbol change, but maybe that should wait until we release a new DataFrame

[2014-03-05 17:09] IainNZ opened #4 "Doesn't load on 0.2 or 0.3"
http://status.julialang.org/

I can pull the logs if you'd like

[2014-04-12 08:10] khag opened #5 "NumericFuns should be imported"
It seems the package NumericFuns should be imported in the file MixedModels.jl

using MixedModels
using DataFrames
ds = DataFrame(A = [0.1,0.12,0.31,0.2,0.1,0.1], B =[1, 2, 1, 1,1,2]);
fm1 = lmm(A ~ 1|B, ds)

the above commands give an error message:
Warning: could not import Base.solve into MixedModels
in callback catch
Multiply not defined
 in solve! at /home/gaofeng/.julia/MixedModels/src/scala

[2014-04-21 14:35] #5 closed, assigned to nobody

[2014-04-22 19:54] #3 closed, assigned to nobody

[2014-05-09 06:48] brauner opened #6 "Extracting from an lmm model."
Hello,

thank you for developing this package. I use `R` and `Julia` side by side and I try to do most of the stuff `R` does in a single function call by hand in `Julia`. Right now, I want to simulate data from the model distribution. I fit a model of the following form with `lmm`:
`@time fm2 = fit(lmm(Y ~ X + (A | B) + (A | C), df), true)`
I am trying to get the following model components from `f

[2014-05-11 22:25] #6 closed, assigned to nobody

[2014-05-14 16:43] IainNZ opened #7 "[PackageEvaluator.jl] Your package MixedModels may have a testing issue."
_This issue is being filed by a script, but if you reply, I will see it._

[PackageEvaluator.jl](https://github.com/IainNZ/PackageEvaluator.jl) is a script that runs nightly. It attempts to load all Julia packages and run their test (if available) on both the stable version of Julia (0.2) and the nightly build of the unstable version (0.3).

The results of this script are used to generate a [packa

[2014-05-26 06:49] ilovedata opened #8 "linpred!() for type LMMGeneral"
Prof. Bates,

Big thanks for making MixedModels for Julia

In the function linpred!() for type LMMGeneral, if dimension of random effect is 1, it is using fma!().

if size(X,2) == 1 fma!(mu, (lm[i][1,1]*u[i])[:,ind], X[:,1])

I had an error  "argument dimensions are not map-compatible"....

I was wondering the second argument should be transposed like

if size(X,2) == 1 fma!(mu, (lm[i][1,1]*u[i])[

[2014-06-14 22:30] dmbates opened #10 "Fix documentation and demo"
to be consistent with the current representation.

[2014-06-17 01:14] #10 closed, assigned to nobody

[2014-06-25 18:45] jfsantos opened #11 "`ccdf not defined` when calling `MixedModels.lrt`"
I tried to use `lrt` from `MixedModels` but I get the following error:

[code]

I know the function is not currently exported so maybe it's not expected to be used outside the module, but ccdf(::Chisq, ::Real) is defined and I am even `using Distributions` in my code. If I define `lrt`, `npar` and `nθ` directly in my code, `lrt` seems to work properly.

[2014-07-03 14:44] #7 closed, assigned to nobody

[2014-07-03 14:46] #4 closed, assigned to nobody

[2014-07-03 15:15] dmbates opened #12 "Fix gradient of PLSOne for REML estimation"

[2014-07-03 16:25] #11 closed, assigned to nobody

[2014-07-10 15:27] dmbates opened #13 "Hotspot in updateμ! method"
Rewrite the line

[code]

in linearmixedmodels.jl to use mutating operations.

[2014-07-10 21:43] dmbates opened #14 "Generalize the λ components"
There is no need to restrict the λ components to be triangular matrices.  They could equally as well be Diagonal.  The formula specification would be trickier.

Need to provide more generalized approaches to
- [ ] counting nθ
- [ ] extracting θ
- [ ] assigning θ

[2014-07-11 13:11] dmbates opened #15 "Make u a vector and let ucomp be the reshaped views"
Change u to be a vector of length q and let the pieces corresponding to each term be created from reshaped views.

[2014-07-13 17:51] #15 closed, assigned to nobody

[2014-07-14 20:27] IainNZ opened #16 "[PkgEval] MixedModels may have a testing issue on Julia 0.3 (2014-07-14)"
[PackageEvaluator.jl](https://github.com/IainNZ/PackageEvaluator.jl) is a script that runs nightly. It attempts to load all Julia packages and run their tests (if available) on both the stable version of Julia (0.2) and the nightly build of the unstable version (0.3). The results of this script are used to generate a [package listing](http://iainnz.github.io/packages.julialang.org/) enhanced with

[2014-07-15 20:21] #16 closed, assigned to nobody

[2014-07-16 07:51] kliegl opened #17 "Failure w/ repeated covariate names in LMM formula"
Looks like the LMM formula does not allow repetition of covariate names:
fit(lmm(Leestijd ~ Nmorphs  + Sex \* Nmorphs +(1 |Subject), dat))
PosDefException(4)
while loading In[42], in expression starting on line 1
 in cholfact! at linalg/factorization.jl:36
 in PLSOne at /Users/kliegl/.julia/v0.3/MixedModels/src/plsone.jl:21
 in PLSOne at /Users/kliegl/.julia/v0.3/MixedModels/src/plsone.jl:44
 in l

[2014-08-15 16:07] IainNZ opened #19 "[PkgEval] MixedModels may have a testing issue on Julia 0.4 (2014-08-15)"
[PackageEvaluator.jl](https://github.com/IainNZ/PackageEvaluator.jl) is a script that runs nightly. It attempts to load all Julia packages and run their tests (if available) on both the stable version of Julia (0.3) and the nightly build of the unstable version (0.4). The results of this script are used to generate a [package listing](http://pkg.julialang.org/) enhanced with testing results.
####

[2014-08-15 17:28] #13 closed, assigned to nobody

[2014-08-15 17:29] #2 closed, assigned to nobody

[2014-08-15 17:29] #14 closed, assigned to nobody

[2014-08-15 17:30] #8 closed, assigned to nobody

[2014-08-16 15:51] IainNZ opened #20 "[PkgEval] MixedModels may have a testing issue on Julia 0.3 (2014-08-16)"
[PackageEvaluator.jl](https://github.com/IainNZ/PackageEvaluator.jl) is a script that runs nightly. It attempts to load all Julia packages and run their tests (if available) on both the stable version of Julia (0.3) and the nightly build of the unstable version (0.4). The results of this script are used to generate a [package listing](http://pkg.julialang.org/) enhanced with testing results.
####

[2014-08-17 20:18] #20 closed, assigned to nobody

[2014-08-21 21:27] #19 closed, assigned to nobody

[2014-08-23 19:28] IainNZ opened #22 "[PkgEval] MixedModels may have a testing issue on Julia 0.3 (2014-08-23)"
[PackageEvaluator.jl](https://github.com/IainNZ/PackageEvaluator.jl) is a script that runs nightly. It attempts to load all Julia packages and run their tests (if available) on both the stable version of Julia (0.3) and the nightly build of the unstable version (0.4). The results of this script are used to generate a [package listing](http://pkg.julialang.org/) enhanced with testing results.
####

[2014-09-03 07:53] kliegl opened #23 "Minor fixes for README.md"
-  `m = lmm(Yield ~ 1|Batch, ds)` requires `fit(...)`
-  last example uses `slp`, not `sleep`

[2014-09-03 15:25] #23 closed, assigned to nobody

[2014-09-17 00:17] #22 closed, assigned to nobody

[2014-10-08 17:34] IainNZ opened #25 "[PkgEval] MixedModels may have a testing issue on Julia 0.4 (2014-10-08)"
[PackageEvaluator.jl](https://github.com/IainNZ/PackageEvaluator.jl) is a script that runs nightly. It attempts to load all Julia packages and run their tests (if available) on both the stable version of Julia (0.3) and the nightly build of the unstable version (0.4). The results of this script are used to generate a [package listing](http://pkg.julialang.org/) enhanced with testing results.
####

[2014-10-13 19:17] SimonAB opened #26 "error with 'convert' types"
Dear Doug,
Using `fit(lmm(forehead ~ palm + (1|slap), data))`, where `palm` is a PooledDataArray, I get:

[code]

[2014-10-17 06:49] ConstantineLignos opened #27 "Error "type Symmetric has no field data" for some random effect structures"
When adding a per-subject random slope to a model of a psycholinguistic experiment with subject and item grouping factors, I got the following error:

[code]

While I can't share the original data, I was able to recreate the problem on the InstEval data. In the following example, there is no problem fitting fm1 and fm2, but fm3 will cause an error on line 7.

[code]

This model appears to work nor

[2014-10-17 16:51] #27 closed, assigned to nobody

[2014-10-20 14:52] #26 closed, assigned to nobody

[2014-10-20 15:01] #25 closed, assigned to nobody

[2015-01-17 17:09] IainNZ opened #28 "[PkgEval] MixedModels may have a testing issue on Julia 0.4 (2015-01-17)"
[PackageEvaluator.jl](https://github.com/IainNZ/PackageEvaluator.jl) is a script that runs nightly. It attempts to load all Julia packages and run their tests (if available) on both the stable version of Julia (0.3) and the nightly build of the unstable version (0.4). The results of this script are used to generate a [package listing](http://pkg.julialang.org/) enhanced with testing results.

####

[2015-02-12 19:02] octonion commented on #28
Syntax for triangular matrices changed from 0.3 to 0.4.

[2015-02-12 19:10] dmbates commented on #28
I'm creating an new version to work with both 0.3 and 0.4.  Right now things are a bit of a mess.

[2015-02-12 19:14] octonion commented on #28
I'd love to help a bit if there's anything I could do.

[2015-06-13 21:22] kleinschmidt opened #31 "GLMMs"
I'm wondering what, if any, plans there are for support of GLMMs in this package.

I'd be happy to help, but after doing some reading about the general methods that are used to approximate the likelihood for GLMMs in `lme4` I'm thinking that honestly it will take a lot to get myself up to speed.  However, much of the data I deal with is binary or count data, so I'm highly motivated (as are some of

[2015-06-15 12:43] dmbates commented on #31
Thanks for your interest in this package.

GLMMs are definitely on the "To Do" list but not at the top yet.  I am currently working on reformulating the underlying penalized least squares (PLS) problem for linear mixed models (LMMs).  To avoid making too big a mess of this package I created another package, ReTerms, for that work.

As you point out, the lme4 code is under the GPL and hence code de

[2015-06-15 13:25] kleinschmidt commented on #31
Let's continue via email, but I'll note here for the record the kind of data I and my colleagues are typically dealing with.

All of the data that I (and, AFAIK, my colleagues) are analyzing with GLMMs is covered by that case (canonical link functions and Bernoulli, Binomial, & Poisson families).  Here's an example of a dataset I'm working with at the moment, in the form of an R package: https://g

[2015-06-15 13:38] mguzmann commented on #31
Would it be possible to follow the progress of this? I am very interested
since I use GLMMs in a lot of my work...

2015-06-15 15:25 GMT+02:00 Dave Kleinschmidt <notifications@github.com>:

[2015-06-20 15:42] dmbates commented on #31
Some thoughts on what needs to be done to incorporate GLMMs.  These are technical considerations that may seem gibberish but do relate to the overall difficulty of the task.

Tasks for extending the `MixedModels` package to fit GLMMs:
 - [ ] Incorporate some form of distribution and link types.
     * [ ] Either require the GLM  package or reimplement the necessary types and methods in this packag

[2015-06-25 17:20] kleinschmidt commented on #31
Thanks, having that list is very helpful. I think that requiring GLM.jl seems like the best way to go, rather than duplicating code between the two packages.  I also think that, to start, it might be good to just always assume the canonical link.  That will simplify development and in no way precludes us from including support for other link functions later on.

I've been reading the [Pinheiro & C

[2015-09-15 13:40] nilshg opened #32 "UndefVarError: chm_scale! not defined"
I'm getting this error on Julia 0.4.0-rc1:

[code]

I didn't do anything but install a fresh version of the release candidate and call `Pkg.add("MixedModels")`.

[2015-09-15 14:45] protogeezer commented on #32
Yes, I'm seeing the same thing... with Julia 0.4.0-rc1+7 and MixedModels 0.3.22

[2015-09-16 03:29] dmbates commented on #32
I'll make a new release tomorrow (Sept. 16) to fix this.

[2015-09-17 15:52] dmbates commented on #32
The new release is out.  @nilshg @protogeezer Have you successfully updated?

[2015-09-17 16:56] nilshg commented on #32
Yes, problem solved. Thanks!

[2015-09-17 16:56] #32 closed

[2015-09-17 17:05] protogeezer commented on #32
Greetings.

I was able to update (on OS X 10.10.5) after hitting a pothole: Xcode 7 only includes the 10.11 SDK. It does not include the 10.9 nor 10.10 SDKs that were included with Xcode 6.4.

After manually copying the 10.9 SDK from a machine that doesn’t have Xcode 7, I was able to update and issue a using command successfully.

Thanks for the quick turnaround.

Stephen

[2015-09-17 23:48] protogeezer opened #33 "Calling Λ() in LinearMixedModels.jl results in a MethodError"
I need to access the random effect covariance matrix (D in many texts or Σθ in your LME4 paper...)
While experimenting with the module, I exported Λ(). However, calling it results in:

ERROR: MethodError: `ltri` has no method matching ltri(::SparseMatrixCSC{Float64,Int64})
 in Λ at /Users/sjbespa/.julia/v0.4/MixedModels/src/linearmixedmodels.jl:247

Is there a way to access the covariance matrix?

[2015-09-21 13:39] mammask opened #34 "How to obtain predicted values or residuals of MixedModels in Julia?"
Hi,

I am currently fitting a linear mixed effects model in Julia and I am trying to obtain the predicted values or residuals. Is there a straightforward way to achieve it?

Any assistance is appreciated.

Thanks,

Kostas

[2015-09-21 14:19] mammask commented on #34
Found it. I should search more before posting. In the code .resid is the solution.

[2015-09-21 14:19] #34 closed

[2015-11-05 21:21] tcovert opened #36 "ERROR: fit is not defined for MixedModels.LinearMixedModel{Float64}"
I can't exactly share the data that goes with this code, but it used to work on the v0.3 branch and it is now not working with v0.4:

using MixedModels
# data is well-formed data frame called pfdata that contains a bunch of columns, including the ones in the
# formula described below
# fm is a formula:
# Formula: logoil ~ 1 + logt + logd + logL + logS + logW + tr + (1 | fileno)
fit(lmm(fm, pfdata)

[2015-11-05 21:31] tcovert commented on #36
Looks like the problem is that I called "fit" instead of "fit!".  For what its worth, the ReadTheDocs site for MixedModels still refers to "fit" instead of "fit!"

http://mixedmodelsjl.readthedocs.org/en/latest/

[2015-11-06 20:17] dmbates commented on #36
Thanks for the reminder that I need to change the documentation @tcovert

I have been hoping that the methods of creating the Readme.md and the package documentation directly from the docstrings in the code would come to fruition and I could avoid documenting all the methods twice.

[2015-11-18 21:33] #12 closed, assigned to nobody

[2016-01-11 21:15] protogeezer opened #38 "Crash in 0.5 - chksquare not defined"
it appears that Base.LinAlg.chksquare => Base.LinAlg.checksquare

julia> fm = fit!(lmm(math_gr_8 ~ 1 + math_gr_5 + math_gr_3 + reading_gr_5 + reading_gr_3 +
           (1 + math_gr_5 + math_gr_3 | class_id),df))
ERROR: UndefVarError: chksquare not defined
 in getindex at /Users/sjbespa/.julia/v0.5/MixedModels/src/paramlowertriangular.jl:11
 in anonymous at /Users/sjbespa/.julia/v0.5/MixedModels/sr

[2016-02-01 09:05] kkmann opened #39 "Covariance structure, penalized splines?"
Hey,

I am glad to see that mixed models are coming to Julia.

Are there any plans for allowing the specification of a parametric covariance model? This would be very helpful for analyzing longitudinal data. Also, it would be very nice to have a way of directly fitting penalized smooth splines (GAM) with a unified interface. How complicated would that be?

[2016-02-02 20:01] dmbates commented on #39
@kkmann I don't have plans for allowing the specification of a parameteric covariance model.  I am one of the authors of the nlme and of the [lme4](https://github.com/lme4/lme4) packages for R.  The nlme package allowed for a parametric covariance model which ultimately I found to be more confusing than illuminating.  I prefer the "do one thing and do it well" approach that we used in lme4 and now

[2016-02-02 20:01] #39 closed

[2016-02-11 18:16] dmbates commented on #31
GLMMs are now under active development.

I have created a branch called `glmms` which includes the `GLM` package.  I'm currently working on the PIRLS algorithm.

[2016-02-11 18:26] dmbates commented on #38
I have a fix for this in the https://github.com/dmbates/MixedModels.jl/tree/glmms branch.  You also need to incorporate  https://github.com/dcjones/Showoff.jl/pull/9 for the `Showoff` package to work with version 0.5-.

I'll wait to see if @dcjones will incorporate that fix by @keno before trying to release a version of `MixedModels` for Julia 0.5-

[2016-03-10 19:44] dmbates commented on #31
I have merged the `glmms` branch.  Still working on the PIRLS algorithm implementation.

[2016-04-15 13:19] wviechtb opened #44 "Incorrect output w.r.t. to correlations between the random effects"
Something doesn't seem right in the output with respect to the estimated correlations between multiple random effects. Here is an example:

[code]
In the output:
[code]
Note the two `0.45` values. The second one is incorrect; it should be `-0.91` (double-checked with `lme()` and `lmer()`). This appears to be just an output problem though, since the fit of the model is the same (log likelihood = -8

[2016-04-20 05:12] daijiang commented on #1
How do you return multiple _named_ values so you can extract part of them later? In R, we can use `return(list(a = a, b = b))`. Thanks!

[2016-04-21 14:19] dmbates commented on #1
In Julia multiple values are returned from a function as a tuple.  You can
write

return (a, b)

and extract the values a and b with indexes.  A common idiom is to assign
the values of a returned function to a tuple of identifiers

n, p = size(X)

On Wed, Apr 20, 2016 at 12:13 AM Daijiang Li <notifications@github.com>
wrote:

[2016-04-21 15:31] daijiang commented on #1
Thanks Prof. Bates!
I ended with return a Dict so I can extract values by name later.
I am converting Tony Ives' R code to do phylogenetic mixed models (mixed model with specific phylogenetic var-cov matrix)  into Julia. As the R code is too slow and it is unlikely to be included into the `lme4` package.

I am new to Julia, even though I attended your Julia workshop two years ago... The code is [h

[2016-04-21 17:14] dmbates commented on #1
First I would suggest creating a package.  Secondly don't pass around a
huge number of arguments.  If they are related to the same model then
create a type for the model.

On Thu, Apr 21, 2016 at 10:31 AM Daijiang Li <notifications@github.com>
wrote:

[2016-04-25 01:57] kxgao opened #45 "Extracting variance components"
I'm trying to save the estimated variance components of each random effect to some variable. However, using VarCorr, I'm only able to extract the error variance component. Is there a way to get the others?

Thank you.

[2016-04-25 06:03] #45 closed

[2016-05-10 22:08] #44 closed

[2016-05-11 16:22] ShuguangSun opened #48 "doc error for lmm in pls.jl"
The lmm in pls.jl has parameter named fr. however the doc of lmm shows frm.

[2016-05-11 16:31] #48 closed

[2016-06-29 18:39] carlosfamilia opened #50 "Residuals"
In terms of model diagnostics, what diagnostics can be run for these models? Are the residuals an option to this, and if so, how can we define the residuals?
As Douglas said:
"As for residuals, like many other properties of mixed-effects models, you need to be careful how you define them.  You need to decide if the random effects are included in the fitted values or not. Perhaps it is better to de

[2016-07-05 15:37] mmeierer opened #51 "Variance and or correlation structures"
Allow for additional variance and or correlation structures in the conditional distribution of the response comparable to the `nlme package` in `R`

[2016-07-23 12:32] #38 closed

[2016-08-12 15:59] ranjanan opened #52 "Tests pass on v0.5 but fail on v0.6"
`Pkg.test("MixedModels")` passes on v0.5 but fails on v0.6 with the following error:
[code]

[2016-08-12 16:03] ranjanan commented on #52
It looks like `cholfact(b1)` on line 15 is giving different results on v0.5 and v0.6:
On v0.5:
[code]

on v0.6:
[code]

[2016-08-12 16:04] andreasnoack commented on #52
Which version of 0.6? See https://github.com/JuliaLang/julia/pull/17985

[2016-08-12 16:08] ranjanan commented on #52
I'm on `v"0.6.0-dev.188", Commit 585fe0e* `. I guess your PR was a bugfix and the answer on v0.5 was incorrect?

[2016-08-12 16:11] andreasnoack commented on #52
No. It's 0.6 that I broke, but it is fixed on latest master.

[2016-08-12 16:13] ranjanan commented on #52
Ah okay, thanks then. Sorry about the false alarm 😄

[2016-08-12 16:13] #52 closed

[2016-08-13 14:03] dmbates commented on #52
@andreasnoack Thanks for looking into this.  I am on vacation for the next week and a half with only sporadic access to the Internet.  I will have a low profile during this period.

[2016-08-25 12:33] JonnyCBB commented on #50
Any news on this?

[2016-08-25 12:34] JonnyCBB commented on #34
Is this an array of the residuals? I can't find it. Can you help me? Thanks

[2016-08-25 14:35] dmbates opened #53 "Return value of `simulate!`"
Return the model so that

[code]

works.  The simulated response vector can be accessed with `model_response` if other models are to be fit.

[2016-08-29 22:31] protogeezer opened #54 "Crash with latest MixedModels and v0.5.0-rc3..."
Using the VAM model (admittedly malformed - and run by mistake):
df = read_scores("ecls.k8.balanced.csv");
	mixed = lmm(math_gr_8 ~ math_gr_5 + math_gr_3 + reading_gr_5 + reading_gr_3 + (1 + math_gr_5 + math_gr_3 + reading_gr_5 + reading_gr_3 |school_id) + (1 + math_gr_5 + math_gr_3 + reading_gr_5 + reading_gr_3 |class_id),df);
fit!(mixed)

results in:
julia> fit!(mixed);
in callback catch
ERROR:

[2016-08-30 16:12] dmbates commented on #54
@protogeezer Yes, I would appreciate it if you could provide me with the data to test this out.  Could you [email me](mailto:dmbates@gmail.com), so I can get your email address and allow you access to a directory on [Box](https://box.com)

[2016-08-30 16:17] dmbates commented on #51
I regret to say that this is not high on my priority list, although pull requests are welcome.

[2016-08-31 19:09] #54 closed

[2016-08-31 19:14] dmbates commented on #53
Closed in v0.5.6

[2016-08-31 19:14] #53 closed

[2016-09-22 21:03] protogeezer opened #56 "MethodError with 0.5.7 and rc4"
The data frame that instigates the problem can be generated by sourcing the script 008_GLMM_make_yourself.R which can be downloaded (near the bottom of):
http://bodowinter.com/stuttgart_awesomeness/

The specific data frame was extracted with:
write.table(xdata,'bodo-example.csv',row.names=F,sep=',')

[code]

[2016-09-22 21:04] dmbates commented on #56
Thanks for the example of the failure.  I think I do indeed need to install another method.

[2016-09-22 21:08] protogeezer commented on #56
Glad I can help. If you wish I can pass along the .csv file - I tried to load it into the drop box, but that seems to have disappeared.

[2016-09-22 21:14] dmbates commented on #56
Hmm, the Box at uwmadison.box.com is still there.  I'll send you another invite.

[2016-09-22 21:23] protogeezer commented on #56
Thanks. For some reason I ended up on a page that was trying to get me to create a new (commercial) account.

In any event I’ll send you two versions of the file. The one with the “string” factors and one that I just created with “numeric” factors (as I’ve done hundreds of times before). The latter doesn’t work with readtable.

Stephen

[2016-10-13 22:34] protogeezer opened #59 "New Crash with 0.5.7 and 0.5"
I'll send the file to your email acct - the Drop Box is inaccessible...

[code]

[2016-10-13 22:54] dmbates commented on #59
I just sent a pull request for version 0.5.8 of MixedModels.  I was able to get it to run on that version.
[code]

Notice that it is not a good idea to call your dataframes `df` as that is the name of the function that evaluates the density in an F distribution.  Also it was the name of the function to obtain the degrees of freedom used by model parameters but that one has now been changed to `dof

[2016-10-13 23:37] protogeezer commented on #59
Thanks for all the help. I just tried checking out master which didn’t work - so I hope that the new version is out there soon!

Stephen

[2016-10-14 01:51] dmbates commented on #59
What was it that didn't work, checking out master or fitting the model on the checked-out master?

[2016-10-14 02:39] protogeezer commented on #59
Sorry, it was the latter - but after restarting julia, it worked fine.

Stephen

[2016-10-14 03:16] #59 closed

[2016-10-18 09:41] mmagnuski opened #60 "What should I cite when using MixedModels?"
Thanks for `MixedModels.jl` - great package!
What is your preferrence for citation in a research paper?

[2016-10-18 15:52] dmbates commented on #60
You're welcome.  Thanks for the acknowledgement.

I'm not entirely sure how to cite the package.  Let me ask about it on the julia-dev mailing list.

[2016-10-19 19:14] mmagnuski commented on #60
I can refer to one of your papers (whichever you prefer) and give github URL to MixedModels.jl + version tag if it is less problematic.

[2016-10-19 19:17] kleinschmidt commented on #60
How about adding something like [zenodo](https://guides.github.com/activities/citable-code/) to the repository? Then there will be a DOI associated with each release automatically.

[2016-10-19 19:39] dmbates commented on #60
I have set up `zenodo` for this repository.  I am just in the throes of trying a release out.  There are too many moving parts right now in DataFrames, DataArrays, CategoricalArrays, NullableArrays and all that.

[2016-10-19 20:36] dmbates commented on #60
There is now a DOI on the README,  Currently its value is [![DOI](https://zenodo.org/badge/9106942.svg)](https://zenodo.org/badge/latestdoi/9106942) for the 0.6.0 release of `MixedModels`.

[2016-10-19 21:12] mmagnuski commented on #60
MixedModels.jl seem to be submitted to zenodo as a data set, is this correct?

[2016-10-19 21:25] dmbates commented on #60
It's a zip file of that particular release of the package.  In other words it is the sources that are specific to a release of the package.  Does that make sense?

[2016-10-19 22:59] mmagnuski commented on #60
Ah, ok, I never used zenodo and I thought it should be mentioned as software in the citation snippet they generate. Thanks!

[2016-10-20 19:36] #60 closed

[2016-10-20 19:39] dmbates commented on #50
I have added `fitted` and `residuals` methods for `LinearMixedModels` in #62

These are defined using the fixed-effects and all the random effects for `fitted` and `residuals` is simply the difference between `model_response(m)` and `fitted(m)`.  So I am taking the simplest approach here.

[2016-10-20 19:39] #50 closed

[2016-10-20 19:43] #31 closed

[2016-10-20 20:21] JonnyCBB commented on #50
Thanks. This is great.

[2016-11-17 22:13] dmbates commented on #56
Can you try this again with version 0.7.0.  I just submitted the release to METADATA.  If you want to try today or tomorrow you should checkout the master branch of the repository.

[2016-11-17 22:15] dmbates commented on #56
@protogeezer It may still fail.  The case I fixed was multiple vector-valued random effects terms whereas you have a combination of vector-valued and scalar random effects terms.

[2016-11-17 22:17] protogeezer commented on #56
I’ll give it a try over the weekend.

Stephen

[2016-12-09 18:00] dmbates commented on #56
@protogeezer Have you checked if this works for you now?

[2016-12-09 18:18] protogeezer commented on #56
Yikes. Sorry for the delay. No it doesn't work.  With an update a few minutes ago, the problem described in the issue still exists:
[code]

[2016-12-15 21:13] tcovert opened #69 "dof not defined for MixedModels.LinearMixedModel{Float64}"
This seemingly innocent code will not work for me:

[code]

Note that the model does seem estimate, in the sense that the return value of that expression is a `MixedModels.LinearMixedModel{Float64}` that seems to contain the fixed effects and covariances I was expecting.

I am using MixedModels version 0.5.6, on julia 0.5 on a mac (os x el capitan)

[2016-12-15 22:27] dmbates commented on #69
I would suggest updating the `MixedModels` package.  The current version is 0.7.2  Use
[code]

[2016-12-15 22:30] tcovert commented on #69
Interesting.  When I `Pkg.update()` there does not appear to be an update for the `MixedModels` package.  Even if I `Pkg.rm("MixedModels")` and then `Pkg.add("MixedModels")` I still get 0.5.6.  Any idea why this might be?

[2016-12-15 22:39] tcovert commented on #69
For some reason this seems to have been the fault of `DataFrames`, which was stuck on 0.7.8, and was preventing me from getting updates to `MixedModels` and other packages.  After getting rid of a bunch of packages and re-installing, I am in good shape.  Thanks for the tip.

[2017-01-09 01:04] JordanCuevas opened #72 "Nested grouping factors"
I am in the process of moving my lme4 code from R over to Julia (those speed gains are very impressive), but I cannot find any documentation on the syntax. Specifically, I'm trying to specify nested random effects, but I cannot get it to work using the usual (1 | A/B) syntax. Is nesting supported natively in Julia MixedModels, or is the only solution to split nested effects into multiple terms: (1

[2017-01-09 15:59] dmbates commented on #72
@JordanCuevas Yes.  In tact the preferred approach is to create the interaction factor in the Frame before fitting the model because A:B in Julia doesn't mean what it does in R.

Right now the whole CategoricalArrays/DataArrays/DataFrames/NullableArrays/StatsModels complex of packages is in the midst of a big redesign and it is not worthwhile devoting effort to building capabilities for the old ve

[2017-01-09 17:09] #69 closed

[2017-01-09 18:56] JordanCuevas commented on #72
A and B are made up variables for the purpose of my question. My real dataset has around 15 grouping factors, some of which will be nested, others crossed. All of them are in a DataFrame, and all are of type "String".

Regardless, I already went ahead and created new variables for my interaction factors in the DataFrame as you suggested and the model ran without problem.

[2017-01-09 19:07] dmbates commented on #72
@JordanCuevas I'm glad it is working.  Once things settle down to using `CategoricalArrays` and `NullableArrays` throughout the `DataFrames` world I can look at making this easier to use.

[2017-01-12 13:51] #72 closed

[2017-01-12 14:05] JordanCuevas opened #73 "No method matching downdate!..."
At the suggestion of a user in the Julia Stats group, I'm cross posting my issue here:
[https://discourse.julialang.org/t/mixedmodels-fit-error/1416]

The input data is proprietary, and very large, so I'm currently working on creating a toy example that will duplicate the error. All of the grouping factors are type String, and all of intercept/slope terms are Float64.

[2017-01-12 17:08] #73 closed

[2017-02-17 07:33] kaskarn opened #74 "uncorrelated random slope and intercept, with nested levels"
Hello,

Brief backstory: participants are nested in centers. two participants in my dataset changed center during the course of the study. Analysis on the full sample can be carried out using a crossed-effects model, which we specify as:

Y ~ ... + (1 | center)  + (0 + x | center) + (1 | pid)

This works fine in both lme4 and MixedModels.

However, when we remove both center-switching participants

[2017-02-17 17:15] dmbates commented on #74
I am working on a refactoring of the code to handle uncorrelated random effects for the same grouping factor more effectively.  It's still a work in progress.

[2017-02-17 17:26] kaskarn commented on #74
Ok, thanks for the hard work! Let me know if/where you could use the help

[2017-04-11 21:47] kleinschmidt opened #77 "ReMat type that holds "raw" matrix"
Is there any possibility of adding an additional ReMat subtype that wraps an AbstractMatrix?  I'm interested in fitting mixed effects models that have random effects structure which isn't a strict partitioning of the full design matrix by row (they're events convolved with a temporal kernel, separate instances of which might overlap)

I'm also open to the possibility of extending the ReMat type in

[2017-04-13 21:15] dmbates commented on #77
I just pushed a new version 0.7.7 incorporating your changes on the `coefnames` and then merged the `LowerCholesky` branch into `master`.  This is a major change and it would be best to experiment on the master branch rather than version 0.7.7

Some of the code has been simplified, which might be good news or bad news.  I have eliminated the distinction between `ScalarReMat` and `VectorReMat` so n

[2017-04-13 21:48] kleinschmidt commented on #77
Thanks, I'll take a look at the master branch now (I just started to dig into this today).

For the sake of being concrete about what I'm after, I'm looking to do crossed random effects models for fMRI data.  The basic structure of this data is that there are a number of events that occur at distinct points in time, but the brain response to them is smeared out in time, and in many designs the res

[2017-04-18 15:42] dmbates commented on #74
The master branch now has this capability.  I'm just waiting for the Travis tests to finish before creating a new release.

[2017-04-18 16:05] dmbates commented on #77
I have been thinking about refactoring the `LinearMixedModel` type in a way that, I hope, will make it easier to add new `ReMat` types.  At present there are three fields: `trams`, `wttrms`, and `Λ` that must be kept in synch.  It should be possible to combine all of these components into a single type so that issues of how you update the parameters and apply that to the decomposition are kept wit

[2017-04-18 19:38] kleinschmidt commented on #77
Workshop looks cool! I'll hold off digging into this for a few weeks then if the internals are likely to change. It sounds like that refactoring would make the sort of extension I'm thinking of much easier.

[2017-04-25 21:02] dmbates commented on #77
@kleinschmidt The first cut at refactoring the representation of random-effects terms is now in the `termsRefactor` branch.  The basic idea is that there are two concrete `AbstractTerm{T}` types, `FactorReTerm{T,V,R|` and `MatrixTerm{T}`.  The latter type is used for the fixed-effects model matrix and for the response.  To extend to other mixed-effects term types you need to define a concrete `Abs

[2017-05-08 08:02] ohadle opened #79 "BoundsError on Julia 0.6rc1"
On Julia 0.6 RC1, trying to run an example from https://github.com/dmbates/MixedModelsinJulia/blob/master/SimpleLMM.ipynb, I get this error:

[code]

[2017-05-08 10:13] nalimilan commented on #79
Yes, that's a known problem due to the latest DataArrays release. You can work around this by going back to the previous version. See https://github.com/JuliaLang/METADATA.jl/pull/9148.

[2017-05-08 10:23] nalimilan commented on #79
I've got a fix at https://github.com/JuliaStats/DataArrays.jl/pull/251.

[2017-05-08 19:40] ohadle commented on #79
Works, thanks!

[2017-05-08 20:04] nalimilan commented on #79
Should be fixed with DataArrays 0.5.1.

[2017-05-08 20:04] #79 closed

[2017-05-09 10:32] ohadle opened #81 "FR: significance for variance"
The current fit function returns several parameters for the model. For example, following https://github.com/dmbates/MixedModelsinJulia/blob/master/SimpleLMM.ipynb:
[code]

Would it be possible to also return a p-value for the variance estimator of the random effect parameter (G)?

[2017-05-09 16:09] dmbates commented on #81
Short answer: no.

Longer answer: it is a very tricky idea.  As with most p-value calculations, the first thing you should ask yourself is "do I need this?" and, for the most part, the answer is no.  It is much more effective to determine some sort of confidence interval on the parameter of interest, as is shown later in that document.

If the need for a p-value is external (journal editors or ref

[2017-05-09 16:09] #81 closed

[2017-05-10 08:12] ohadle commented on #81
Thank you for the detailed answer!

[2017-05-21 20:07] ohadle opened #83 "Precompile error on 0.6rc2"
Just did `Pkg.update()`:
[code]

[2017-05-21 20:11] ohadle commented on #83
Hmm, for some reason it now works.

[2017-05-21 20:11] #83 closed

[2017-05-27 13:38] tkelman opened #85 "Avoid extending Base methods on Base types"
This package has been guilty of this for a while apparently, and you did just clean up a whole bunch of these with the `*_mul_*` methods. The ones I still see are `Ac_ldiv_B!`, `A_rdiv_B!`, and `A_rdiv_Bc!` here https://github.com/dmbates/MixedModels.jl/blob/82b7bffc4ce10dc3cb98360ff7926e3a69c23cf9/src/linalg.jl#L86-L151. Would be a good medium-term goal to avoid the type piracy here. Base's metho

[2017-05-27 15:04] dmbates commented on #85
I do plan on creating a PR to add those `_*div_` methods to Base.  Thanks for the reminder.

[2017-05-27 15:51] tkelman commented on #85
Cool. Are there three-argument versions that would work, where you specify the destination separately? The inconsistency of whether the two-argument mutating versions of these modifies the first argument or the second argument depending on the input types bothers me a bit, but that's a Base problem.

[2017-05-27 16:45] dmbates commented on #85
Apparently not.  In v0.6.0-rc2
[code]

[2017-06-01 19:22] kleinschmidt opened #86 "mismatch in size for FactorReTerm"
The `size` of a `FactorReTerm` doesn't agree with the `size` of its sparsified version:

Using the `corr` `FactorReTerm` from the tests:

[code]

Is that intended behavior? If so, I'm not sure I understand what the purpose of the `sparse(::FactorReTerm)` is; I'd assumed it was to recover the non-condensed form of the random effects matrix.

[2017-06-01 19:28] kleinschmidt commented on #86
More to the point, they behave differently in multiplication:

[code]

[2017-06-02 16:06] dmbates commented on #86
Have you upgraded to version 0.9.0, the latest released version?  If so, did you mean `FactorReTerm`?

In any case, the `sparse` method is just for pedagogical purposes - to show what the structure of the matrix would be if you wrote it out.

[2017-06-05 12:58] kleinschmidt commented on #86
Yes, I'm on master and I made a typo. Thanks for clarifying, and I'll put together a PR.

[2017-06-05 16:25] dmbates commented on #86
Thanks for the offer of the PR.  I'm working on this repository today so, unless you have already worked out what needs to change, I can take care of it.

[2017-06-05 17:23] #86 closed

[2017-06-26 22:35] lmwang9527 opened #89 "Discrepancy in loglikelihoods between R/lmer and MixedModels.jl/lmm when weights is used"
I am evaluating switching from R/lme4 to MixedModels.jl for its superior speed. I am getting very different log-likelihoods for models estimated using these two packages when weights is provided (the log-likelihoods are identical when no weights is used). Any insights what may explain the discrepancy? Thanks!

Below is the code that produces the phenomenon:

[code]

[code]

[2017-06-27 19:45] dmbates commented on #89
Thank you for including a reproducible example.

I failed to include a term that depends on the weights in the objective function.  A fix for this should be available later today.

This term is a constant and does not affect the location of the parameter estimates, it simply changes the value of the loglikelihood as you indicate.

As an aside, the [`RCall`](https://github.com/JuliaStats/RCall.jl)

[2017-06-27 20:48] #89 closed

[2017-06-29 16:30] lmwang9527 commented on #89
Thanks for fixing the issue so quickly and for the tip for running R code from julia; I appreciate it!

[2017-07-06 16:55] hikea opened #91 "ERROR: UndefVarError: y not defined"
I am trying to run a mixed-effects model in julia (R is too slow for my data), but I keep getting this error.

I have installed DataArrays, DataFrames , MixedModels, and RDatasets packages and am following the tutorial here --> http://dmbates.github.io/MixedModels.jl/latest/man/fitting/#Fitting-linear-mixed-effects-models-1

These are my steps:

    using DataArrays, DataFrames , MixedModels, RDat

[2017-07-06 16:57] andreasnoack commented on #91
On 0.6, you'd have to use the write `@formule Y ~ 1 + Dept*Service + (1|S) + (1|D)`. The example needs to be updated.

[2017-07-06 17:05] hikea commented on #91
Like so? m2 = fit!(lmm(@formule(Y ~ 1 + Dept*Service + (1|S) + (1|D), inst)))
This still doesn't work. I am new to julia, can provide full syntax?

[2017-07-06 17:12] kliegl commented on #91
Almost …
m2 = fit!(lmm(@formula( Y ~ 1 + Dept*Service + (1|S) + (1|D)), inst))

[2017-07-06 17:15] hikea commented on #91
Great! It worked. Thank you very much!

[2017-07-06 19:50] dmbates commented on #91
Thanks for answering @andreasnoack and @kliegl. I will fix the documentation when I get back home on Sunday.

[2017-07-18 02:58] bbolker opened #92 "under/overflow problems with cloglog link"
I've been working on some cloglog-link binomial fits based on a question on r-sig-mixed-models. The HTML is [here](http://bbolker.github.io/mixedmodels-misc/notes/cloglogsim.html), Rmd [here](https://github.com/bbolker/mixedmodels-misc/blob/master/notes/cloglogsim.rmd).

I got most of the way through including a Julia variant, but the cloglog link fails with an (under?over?)flow error (`ERROR: Ass

[2017-07-18 12:24] dmbates commented on #92
Thanks for reporting this, Ben.  I'll take a look today.

[2017-07-18 17:55] dmbates commented on #92
## Fitting the Cloglog binomial GLMM from Rolf Turner

Load packages
[code]

and check versions
[code]

[code]

[code]

[code]

Generate the data in `R` through `RCall`
[code]

The `glm` function is different from `glmm` in that it creates the representation of the model and fits it.
[code]

[code]

For `glmm` it looks like
[code]

[code]

There is no problem with fitting the vector-valued random

[2017-07-18 18:39] dmbates commented on #92
The problem first manifests itself in the GLM fit, which is performed to get starting estimates for the GLMM iterations.
[code]

Now I will need to go back in and see what I can remember of the GLM code.

[2017-07-18 21:10] dmbates commented on #92
In the `db/clampcloglog` branch of the `JuliaStats/GLM.jl` repository I added code to clamp the value of the inverse link and `mueta`.  That seemed to do the trick.
[code]

If you want to try it out you should
[code]

[2017-07-19 00:57] bbolker commented on #92
Exciting. Will check this out soon.  I wonder if there's any need to justify this clamping when submitting a pull request (which I hope you'll consider). FWIW this is clamped in base R (`binomial(link="cloglog")$linkinv` is: `function (eta) pmax(pmin(-expm1(-exp(eta)), 1 - .Machine$double.eps), .Machine$double.eps)`), and has been approximately forever (it's in this form as of a "split from base"

[2017-07-19 12:41] dmbates commented on #92
Regarding a pull request, it would be against the `GLM.jl` package and has already been created.  Unfortunately it is failing tests right now but that is because there are too many other changes in play.

[2017-07-19 18:02] bbolker commented on #92
FWIW I had to put a `float.()` around the weights in the examples above (both `glm` and `glmm`); `glm` is unhappy with integer weights.

[2017-07-20 15:42] #91 closed

[2017-07-20 15:42] #85 closed

[2017-07-20 16:02] dmbates commented on #92
Regarding the timings - the first time that you call a method it and, potentially, all the methods that it calls need to be compiled.  So, for example, the first time that
[code]
is executed, it takes 2.25 seconds on my machine but the second time it takes 0.0035 seconds.  The GLMM fit with the LogitLink went from 31 seconds to 18.93 seconds and the

Also, I am in the habit of declaring
[code]
whi

[2017-07-20 16:22] bbolker commented on #92
thanks!  Any ideas about the big speed discrepancy between our machines?  As I reported elsewhere, the whole run is taking me about 20 minutes. I'm running in a 64-bit Ubuntu 14.04 *virtual* machine with 5G of memory and 4 virtual cores; 'top' is reporting only 6% of memory used by julia, 108% (??) CPU.  Should I be using better BLAS or ... ?

[2017-07-20 16:41] tkelman commented on #85
Did this get backported to Compat, or is the package still doing it?

[2017-07-20 16:45] dmbates commented on #92
One thing to try is `fast=true` in the `fit!` call.  After warming up the functions I get
[code]
which is very interesting to me.

First, I don't appear to have the values of the fixed-effects parameters correct or the function evaluation somehow when I switch from the θ-only to the βθ evaluations.  The `fast=true` fit (equivalent to `nAGQ=0`) gives 888.479 as the objective value and the second ph

[2017-07-20 17:42] dmbates commented on #92
Profiling of the fast fit shows that most of the time is spent in updating the `A` array (weighted X'X-type products) on reweighting, which may be helped somewhat by using StaticArray types.

I found the hot spots for memory allocation.  Actually I had found them previously and left `FIXME` comments but that was all I had done about it.  I can probably fix those but finding out why the fit on βθ
d

[2017-07-20 21:09] dmbates commented on #92
I managed to solve one of the [allocation problems](https://discourse.julialang.org/t/using-view-in-0-6-on-a-ragged-array/4982) but that didn't make much of a difference.  I found the problem with the βθ iterations not starting at the converged θ iterations value.  It was due to a misunderstanding of the way that the initial step size affects a bounded parameter.  The converged value of the last e

[2017-07-20 21:43] bbolker commented on #92
In case it rings any bells, these are the parts of `versioninfo()` that look different from yours ...
[code]

[2017-07-21 12:57] dmbates commented on #92
Are you using version 0.6.0 of Julia?  I thought I saw it was v0.5.2

[2017-07-21 13:00] bbolker commented on #92
Oops, you're right.  (Do you think Julia version 0.5.2 vs 0.6.0 might be the difference? I'm willing to try ...) Here's the full info:

[code]

[2017-07-21 14:32] dmbates commented on #92
Let me check a few things out here first.  I do need to modify the initial step size calculation for the second optimization.

[2017-07-21 16:15] dmbates commented on #92
I appreciate the example as it exposed a subtle misunderstanding that was resulting in a lot of wasted effort.

Current status is, starting with the `fast = true` fit (equivalent to `nAGQ=0`)
[code]

I'll check in the changes to the master branch of `MixedModels.jl` once I have done the tests on other versions.

[2017-07-21 16:48] dmbates commented on #92
With more aggressive optimization (using Julia Version 0.7.0-DEV.1063 and the -O3 flag when starting Julia) It gets under 5 seconds.
[code]

[2017-07-21 18:08] bbolker commented on #92
with Julia 0.6 (which was surprisingly painless to install) and your changes it takes 1.35 seconds with `fast=true` and 7.21 seconds without.  Thanks!  I will modify your code slightly to integrate it with my example (i.e. printing results to a file for retrieval in R) and update my example ...

[2017-07-21 18:08] #92 closed

[2017-07-23 19:31] bbolker commented on #92
Huh.  With latest version (Julia 0.6.0, MixedModels.jl 0.10.0+) and slightly modified version of your code I'm back to approx. 6-10 seconds (fast=true) or 33-40 seconds (fast=false) for the cloglog fits. These are not terrible, and far better than the original 800 seconds, but don't match your results or my similar results stated in the previous comment [1-2 vs 6-7 seconds].  Maybe my laptop is th

[2017-07-24 15:58] dmbates commented on #92
Probably we should move this discussion to email.  Could you add my github login as a contributor to this repository and I will move the .jmd document here?

[2017-08-07 16:05] am800 opened #93 "Add predict() function"
Dear Douglas Bates,

With my request to adding a predict(object, newdata) to your package, I am referring to the following post: https://stackoverflow.com/questions/45457286/predict-using-julia-lang-mixedmodels-jl

Adding a predict() like function would greatly add to the functionality of your package.

Thanks!

[2017-08-07 19:59] hikea opened #94 "Gamma models convergence checks and run time"
I am trying to fit a Gamma model to a reaction time data (there is a recent paper that argues for not transforming RTs and using GLMM with Gamma or Inverse Gaussian --> http://journal.frontiersin.org/article/10.3389/fpsyg.2015.01171/full )

I have a few question about running GLMMs in Julia, but before asking them I will go over a reproducible example using a known dataset (my dataset is large and

[2017-08-08 01:09] dmbates commented on #94
Thank you for opening what is indeed an interesting issue.  I can see that the results from [`lme4`](https://github.com/lme4/lme4) and from this package do not coincide.  What I don't know is which one, if either, is correct.

It would probably help if @bbolker could take a look at this too.

Just to make sure that we are on the same page, when I copy the `lexdec` data from the `languageR` package

[2017-08-08 01:16] bbolker commented on #94
I will try to dig into this tomorrow.  I agree that an identity link seems weird (and potentially could make things harder, numerically).   I might try the `allFit` extension to see how it behaves across optimizers.

The inverse Gaussian family probably wouldn't be very hard to implement.

[2017-08-08 01:18] dmbates commented on #94
Thanks for the quick response, Ben.

I have a vague recollection of discussion related to the dispersion parameter for the `Gamma` family and how its value influences the evaluation of the log-likelihood or deviance.  Does this ring a bell at all?

[2017-08-08 02:12] hikea commented on #94
Thank you very much for a quick reply!

Regarding raw_rt, I did convert lexdec RTs back to milliseconds, so all my examples are on raw RTs. The entire question discussed in the paper has to do with running the analysis on untransformed RTs instead of log or using identity=log. However, since RTs are not normally distributed, the authors recommend using Gamma or Inverse Gaussian with identity link

[2017-08-08 02:49] bbolker commented on #94
FWIW glmmTMB refuses to report a log-likelihood (or associated statistics) if the Hessian is not positive definite.  You can still retrieve the negative log-likelihood with `object$fit$objective` ...

[2017-08-08 16:23] dmbates commented on #94
@hikea You write "Regarding raw_rt, I did convert lexdec RTs back to milliseconds, so all my examples are on raw RTs."  I'm not sure what that means. Can you be more specific, perhaps giving a formula for `rt_raw` in terms of the `RT` column in the data set?

One thing about the `RT` response is that its range is comparatively small,
[code]
which means that there will not be much difference betwee

[2017-08-08 16:59] hikea commented on #94
I did the converse like so in R (don't know how to do it in Julia so far)

    lexdec$rt_raw <- exp(lexdec$RT)

These are the density curves when I plot rt_raw, which is in milliseconds.

    ggplot(lexdec, aes(x=rt_raw)) +  geom_density() + facet_grid (NativeLanguage ~ Class, scale='free_x')

![image](https://user-images.githubusercontent.com/25394677/29083882-3b60508a-7c38-11e7-82e5-5a395ca2fe0a

[2017-08-08 17:21] dmbates commented on #94
@hikea Thanks for the explanation.  I went back and looked at the documentation for `languageR::lexdec` and found that the `RT` column is logarithmic.  Using `lexdec[:rt_raw] = exp.(lexdec[:RT])` I get a model fit with a similar structure
[code]

But it doesn't make sense to include a random effect for `NativeLanguage` with respect to `Subject` because `NativeLanguage` doesn't vary within subject.

[2017-08-08 17:32] dmbates commented on #94
Note that the deviance as reported here with the inverse link is slightly better (i.e. smaller) than the corresponding fits with the identity link.  I say `as reported here` because I am not entirely sure that the calculation of the deviance for a Gamma GLMM is correct.  I am also unsure about the standard errors on the fixed-effects coefficients in this case.

[2017-08-08 17:38] dmbates commented on #94
@hikea Regarding the failure to produce a warning for models including random effects for `NativeLanguage` by `Subject`, the fitted model is obviously singular and I presume that the user is going to check for singularity.  Trying to guess in what way a user may specify a nonsensical model and check if they have done so becomes a game of [`Whac-A-Mole`](https://en.wikipedia.org/wiki/Whac-A-Mole) a

[2017-08-08 17:41] hikea commented on #94
Thank you!
It looks like I get a proper fit for the Gamma model with Identitylink when I don't use fast=true

[code]

[2017-08-08 17:50] dmbates opened #95 "Watch for boundary cases from fast=true in glmm fits"
If one of the constrained elements of θ converges to zero in the `fast=true` stage when fitting a `glmm` then it should be given a nonzero starting value in the general optimization.

[2017-08-08 17:52] dmbates commented on #94
@hikea Regrettably that fit fails in the development version of `MixedModels`.  I need to patch up some starting estimates
[code]

What happens is that the `fast = true` optimization  is always performed first to get starting estimates for the more general fit.  I will need to modify the starting estimates for the more general fit when one of the constrained θ parameters converges to zero in the `

[2017-08-08 17:59] hikea commented on #94
Not a problem. I've noticed some weird behaviour when using `fast=true`. Is it similar to `calc.derivs = FALSE` in lme4? When I use that, I can fir any model, fast, and without warnings.
The standard deviation for the Word random effect is indeed close to zero, but the fit is non-singular.

[2017-08-08 18:10] dmbates commented on #94
The `fast=true` version of the fit uses Penalized Iteratively Reweighted Least Squares (PIRLS) to determine the conditional mode of the random effects and the conditional estimate of the fixed-effects parameter, given a value of θ.  It is similar to using `nAGQ=0L` in a `glmer` fit.

Generally the difference between the fast=true fit and the optimization of all the parameters using PIRLS only to d

[2017-08-08 18:28] hikea commented on #94
Unfortunately, I don't have anything to share at the moment, but I will when I encounter something again.

Thank you for all the explanations. I hope this post is useful not only to me but also to everyone who is new to GLMM and Julia.

Could you please address my questions 2 and 4?
2. Are interactions of random effects supported?
4. Are there any plans to implement support for Inverse Gaussian? (

[2017-08-08 18:45] hikea commented on #94
To address my third question, using my data (20k observations, 3x3x2 design), I dropped a by-word random slope (the maximal model for my data requires one) and used `fast=true`. This decreased the run time from 304 seconds to 117 seconds. With by-item slope and `fast=true` I get 406 seconds.

I have openblas-lapack installed, but I only allow 2 threads for openblas via `export OPENBLAS_NUM_THREADS

[2017-08-08 21:35] bbolker commented on #94
I'm falling behind a bit.

- with regard to interactions of random effects in Julia: I don't know how the formulas are evaluated, but at the very worst you can construct your own interaction term and add it to the data frame. The R analogue would be
[code]
then fit the model with a `(1+CNLint|grpvar)` term in it.
- with regard to an inverse-Gamma family: you (or someone) would need to go to the [J

[2017-08-09 00:00] hikea commented on #94
@bbolker thank you! This is very helpful. I've never done any implementations, but I'll take a look.

[2017-08-09 15:24] hikea commented on #94
Looking a bit more at this (not necessarily in the right direction), I've noticed that correlations of random effects do not match.

[code]

All correlations look pretty high, but there are discrepancies both in direction and magnitude.

[2017-08-09 20:13] dmbates commented on #94
@hikea You have almost convinced me that I should print warning messages about convergence to singular covariance matrices.  All of GLMM fits are to singular covariance matrices for the `Subject` factor.
[code]
Also, it is nonsensical to include random effects for `NativeLanguage` by `Subject` because `NativeLanguage` is a property of `Subject`.

You can't expect consistency in fits to nonsense mo

[2017-08-09 20:30] hikea commented on #94
I am glad that I am being of help here as well (although,  I thought it was the opposite).
I know that these are nonsensical models with wrong parameters, but I thought I would get consistent results nevertheless.
Thank you for implementing Inverse Gaussian in GLM --> https://github.com/JuliaStats/GLM.jl/issues/193

[2017-08-16 18:06] hikea commented on #94
Thank you @dmbates I've just noticed that Inverse Gaussian implementation was merged and it works in MixedModels (after using Pgk.checkout("GLM") and Pkg.chekout("MixedModels") ).

However, I get the same error you were getting earlier
[code]
but not with Gamma
[code]
however, Gamma will give the same error if I include random effects for words (1|Word), which has a 0 variance in Julia (see below

[2017-09-25 16:18] jan-glx opened #98 "Problem with glmm and Poisson distribution"
I want use `MixedModels.jl` to model count data. I am not sure that I am doing it right, but I would have expected the last command below (with `d=Poisson()` and `l=GLM.LogLink()`) to give me a better fit instead of throwing an error. Any tips?

[code]

[code]

<table class="data-frame"><thead><tr><th></th><th>gene</th><th>cell</th><th>counts</th></tr></thead><tbody><tr><th>1</th><td>A</td><td>1</

[2017-09-26 21:25] hikea commented on #98
Hi, am not an expert, but I've seen this before. It has to do with `nlopt` optimizer and `blas` library. What is the output of `versioninfo() `on your machine?
Also, if you remove either one of your random predictors, you can make it work.

[2017-09-27 08:18] jan-glx commented on #98
Sure:
[code]

    Julia Version 0.6.0
    Commit 903644385b* (2017-06-19 13:05 UTC)
    Platform Info:
      OS: Windows (x86_64-w64-mingw32)
      CPU: Intel(R) Core(TM) i7-4700MQ CPU @ 2.40GHz
      WORD_SIZE: 64
      BLAS: libopenblas (USE64BITINT DYNAMIC_ARCH NO_AFFINITY Haswell)
      LAPACK: libopenblas64_
      LIBM: libopenlibm
      LLVM: libLLVM-3.9.1 (ORCJIT, haswell)

[2017-09-27 15:18] hikea commented on #98
This works, note the change in syntax.

[code]

[2017-09-27 16:00] hikea commented on #98
I don't know how, but after playing around I suddenly got an output, but after restarting julia, I get an error again. Strange...

[code]

[2017-09-27 17:59] dmbates commented on #98
I am trying to reproduce the problem but I get very different simulated values so I can't be sure that it is the same issue.  It helps in such cases if you set the random number generator seed before simulating the data.  Let me show how I would go about simulating the data and you can tell me if I have it right.

[code]

I currently have some modifications in my copy of the `MixedModels` package

[2017-09-27 18:48] hikea commented on #98
I wonder if you can get a consistent result with a non-simulated data.

I get Salamanders data from R package `glmmTMB`.

I save the data --> `write.csv(salamander, "salamanders.csv",row.names=F)`

than get in julia --> `salamanders=readtable("salamanders.csv", makefactors=true)`

Get a result:

[code]

[code]

[2017-09-27 19:03] dmbates commented on #98
Just an aside: For transferring data from R to Julia I prefer to use the `RCall` package.  Try
[code]

[2017-09-27 19:11] hikea commented on #98
Great! Much easier. Thank you!

[2017-09-28 12:36] jan-glx commented on #98
Thank you for showing me how to be reproducible and descriptive in Julia (it's the first time I touch Julia in years) in such a friendly way, @dmbates . Also of course many thanks for showing me that the problem might have to do with unrealistic data for the model and the quick reply. Thanks also to @hikea for trying to help.

-----------------------
### On my real data set:
In my real dataset, th

[2017-09-28 15:42] hikea commented on #98
Just some thoughts on this:

I had the same issue with `fast=true` in julia. If there is a zero variance term, NLopt will crash, while it won't when using `fast=true`.

`glmm` in julia, `glmer` in R and `glmmTM` are using different optimizers and algorithms.

If you want to reproduce julia `fast=true` in `glmer,` use` nAGQ = 0`.

`glmer` is using two optimizers by default `optimizer = c("bobyqa",

[2017-09-29 17:55] dmbates commented on #98
@jan-glx The parameter estimates for the three different functions are actually quite similar.  Estimates of the standard deviation of the random effects for `cell` of 0.0001 or less are negligible and due to round-off error. It is virtually certain that the true minimum is on the boundary.

Regarding the objective, if you check the log-likelihood for the `glmm` fit, you get a value similar to the

[2017-09-29 18:40] bbolker commented on #98
https://github.com/lme4/lme4/blob/master/misc/notes/deviance.rmd gives the gory details, specifically

Some combination of better documentation and/or actually changing the the 'deviance' printed by the print method seems warranted ...

[2017-09-29 18:48] bbolker commented on #98
I thought there was ha little tweak in lme4 that pushed values away from the boundary when re-starting, but I misremembered: there's something in the profiling code [here](https://github.com/lme4/lme4/blob/2469ed49a3db3fbee1a4a18b855005754bf4aadd/R/profile.R#L286) where we decide how far away from the optimum to go when taking the first profiling step ...  I guess for whatever reason there's not t

[2017-10-02 14:05] jan-glx commented on #98
Thank you, @dmbates and also @hikea for the insights on the fitting process!
Yes the outputs are quite similar. I was stupid and re(a)d the `Variance` and `Std. Dev.` column of the `MixedModels.jl` output as `std.dev` and "standard error of the standard deviation" and reinforced by "the deviance" not being -2*LL I added some confusion to this thread. Sorry. Back to the problem:

---
With a little

[2017-10-03 20:49] dmbates commented on #98
@jan-glx I don't know what to do in this case.  Because you have such large variances for the random effects and comparatively few levels of the `gene` factor it does not surprise me that fitting a GLMM is difficult.

[2017-10-03 21:29] bbolker commented on #98
Out of curiosity, does glmmTMB manage to produce an answer in this case?

[2017-10-04 09:44] jan-glx commented on #98
@bbolker: Yes glmmTMB works quite well in the exact same case:  (extending the [example above](https://github.com/dmbates/MixedModels.jl/issues/98#issuecomment-333544477))
[code]
    RCall.RObject{RCall.VecSxp}
    Formula:          counts ~ 1 + (1 | gene) + (1 | cell)
    Data: df
          AIC       BIC    logLik  df.resid
     67885.11  67906.74 -33939.55      9997
    Random-effects (co)varian

[2017-10-04 17:36] dmbates commented on #98
Look at the distribution of the response
[code]

If you define the model separately before trying to fit it you can check the values of the parameters and the GLM characteristics at the time that the iterations failed.
[code]

The iteratively reweighted least squares algorithm becomes unstable when the weights and the deviance residuals are so ridiculously large.

[2017-10-04 19:16] bbolker commented on #98
Gelman's folk theorem, "when you have computational problems it usually means there's a problem with your model".  Try a negative binomial instead of a Poisson model?  Looking at your data, it seems it might be missing zeros - glmmTMB will let you use a truncated negative binomial ...

[2017-10-09 08:39] jan-glx commented on #98
@dmbates I see. I'll try to find a way to specify initial parameters and check if it is stable enough near the optimal solution.

@bbolker Yes, of course, negative binomial would be much more appropriate and I use `glmmTMB(counts~1+(1|gene)+(1|cell), data=dt, family="nbinom2", dispformula = ~gene)` to fit one in `R` but, extrapolating, it would take ~2 months to fit it to my data and in `MixedMode

[2017-10-10 00:16] bbolker commented on #98
Just *how* big is your data set again?  If it's really a 2-month computation in `glmmTMB`, I'd say you might want to think about some other options.  I don't know that Doug has any immediate plans to develop extensions such NB in MixedModels.jl, and without this you will be fitting a quite-wrong model.

[2017-10-10 08:23] jan-glx commented on #98
26e6 data points: 13000 cells, 2000 genes (considering only the most expressed genes). And yes, I am currently looking into more approximate methods ... thanks for the feedback!

[2017-10-10 08:23] #98 closed

[2017-10-10 17:30] dmbates commented on #98
@jan-glx From the numbers you give it appears that there is a measurement of each gene on each cell.  That is, the cell and gene factors are completely crossed.  I know that lme4 always uses a sparse Cholesky decomposition of the Λ'Z'WZΛ + I matrix. I'm not sure if the equivalent calculation is done in glmmTMB in the same way (or at all).  In a highly structured data set like this a blocked approa

[2017-10-10 17:38] dmbates commented on #98
@bbolker Never mind.  I took a wild guess that the code is probably in the `nbinom.R` file. :smile:

[2017-10-10 19:57] bbolker commented on #98
(1) I don't think glmmTMB is that efficient. (2) You're right about the neg binom code in lme4. More generally, I'm not sure sure whether it's best to use a three-level structure (NB dispersion parameter; random effects/fixed effects parameters; PIRLS) as in `glmer.nb` or to collapse it to a two-level structure (i.e. do nonlinear optimization over (NB + RE + FE), with a PIRLS fit within each evalu

[2017-11-07 22:49] nathanieldaw opened #100 "interactions in random effect specification"
One feature that works in lme4 that seems not to work in MixedModels is interactions in the random effects. In MixedModels, a formula like

a ~ b * c + (b*c | subject)

fails with MethodError: no method matching getindex(::DataFrames.DataFrame, ::Expr)

and if I expand the * manually as b + c + b&c then it is the last term that triggers the error.

The problem occurs in the call to ModelFrame, but

[2017-11-08 16:43] dmbates commented on #100
Unfortunately, issues like this are in a backlog waiting for changes in changes like https://github.com/JuliaStats/StatsModels.jl/pull/30 in https://github.com/JuliaStats/StatsModels.jl which, in turn are waiting on the release of v0.11.0 of https://github.com/JuliaStats/DataFrames.jl

Right now everything is in a holding pattern waiting for this version of `DataFrames` using `Nulls` and `Categori

[2017-11-08 18:01] nalimilan commented on #100
Where did you ask? The roadmap is https://github.com/JuliaData/DataFrames.jl/issues?q=is%3Aopen+is%3Aissue+milestone%3A0.11, and there's at least one blocking issue there which is going to be resolved soon.

[2017-11-16 22:44] andyreagan opened #101 "Intermittent NLOpt error"
I sometimes get the following error and I can't see to nail down what is causing it:

[code]

I'm using (from Pkg.status()):
[code]

I've managed to whittle down to this minimal example of it happening:

[code]

[code]

Any suggestions?

[2017-11-16 22:49] andyreagan commented on #101
Here is a dataframe that I was using, very simple:

[sample_dataframe.csv.gz](https://github.com/dmbates/MixedModels.jl/files/1480526/sample_dataframe.csv.gz)

[2017-11-17 03:18] hikea commented on #101
I think it is a problem with your data. Using `fast=true` might help, but look at this two issues --> https://github.com/dmbates/MixedModels.jl/issues/98 and https://github.com/dmbates/MixedModels.jl/issues/94

[2017-11-17 15:30] andyreagan commented on #101
Okay thanks- I searched the issues for NLOpt, but didn't come up with anything.

[2017-11-17 16:04] dmbates commented on #101
@hikea is right.  For a GLMM the optimization to determine the parameter estimates is done in two stages.  The `fast` optimization gets very close to the optimum quickly.  The estimates from this phase are used as the starting values for the second phase.  This all works nicely except when the first phase converges on the boundary.  That is, the estimated standard deviation of some scalar random e

[2017-11-17 16:05] dmbates commented on #101
The two stages of the optimization are described in

http://dmbates.github.io/MixedModels.jl/stable/optimization.html#Generalized-Linear-Mixed-Effects-Models-1

[2017-11-17 17:45] andyreagan commented on #101
Awesome. Let me see if I can write the code to catch that.

[2017-11-17 18:32] dmbates commented on #101
@andyreagan Thanks for the offer.  The place to check is the block
[code]
in the `fit!` method for `GeneralizedLinearMixedModel`.  Before modifying `optsum.lowerbd` check for zeros in any positions of `m.θ` for which `optsum.lowerbd` is zero.  If the converged estimates in those positions were very small positive values they should have been replaced by zeros in the blocks with `xmin_` a bit furth

[2017-11-30 03:29] tolskais opened #105 "weird result with categorical fixed effects in lmm"
First, I got an error with coefnames used in lmm with a warning.
WARNING: coefnames is exported from both StatsBase and StatsModels
ERROR: coefnames is not defined

I changed coefnames in lmm to StatsModels.coefnames and the problem is solved.

Second, The result of fixed-effects parameters is inconsistent when the order of data is changed. I created two examples to reproduce the situation. I thin

[2017-11-30 03:49] kleinschmidt commented on #105
I think this is related to JuliaStats/StatsModels.jl#40; that's been fixed but not yet tagged for release.

[2017-11-30 04:36] tolskais commented on #105
Thanks for the quick response. At least I can take care of my urgent job with the patches.

[2017-11-30 04:51] kleinschmidt commented on #105
Both should be fixed on StatsModels master now (which you can get with `Pkg.checkout("StatsModels")`).

[2017-11-30 05:55] tolskais commented on #105
What I mentioned is resolved with Pkg.checkout("StatsModels"). I also checkout master commit of MixedModels.

However, I opened this issue again because I think I found another issue. The result is still inconsistent when two groups' label is exchanged. Here's an example.

[code]

[code]
Now I exchange each other's project name.
[code]

I think the expected result is as below after the label is ex

[2017-11-30 10:53] nalimilan commented on #105
Weird. With the latest StatsModels and MixedModels from git master and GLM v0.8.1 (since master currently doesn't work with MixedModels), I get this for the second output:
[code]

Are you sure you are using the latest StatsModels from master? A similar bug has been fixed recently by https://github.com/JuliaStats/StatsModels.jl/pull/40.

[2017-12-03 12:57] IgorDouven opened #106 "UndefVarError: coefnames not defined"
I'd like to explore the Mixed Models package, but I keep getting the same error message. Here is an example:

using DataFrames, MixedModels

df = DataFrame(Var1 = rand(100), Var2 = rand(100), Id = repeat(1:10, inner=10))

mm1 = fit!(lmm(@formula(Var1 ~ Var2 + (1 + Var2 | Id)), df))

The error I get is:

WARNING: both StatsBase and DataFrames export "coefnames"; uses of it in module MixedModels mus

[2017-12-04 13:05] IgorDouven commented on #106
I was able to fix the problem by replacing two occurrences of 'coefnames' in pls.jl by 'DataFrames.coefnames'.

[2017-12-04 17:14] andyreagan commented on #106
The issue is that StatsModels exported coefnames in 0.19.2

If the dependency for MixedModels is pinned at 0.19.0 (rather than 0.19) in the REQUIRE file this should fix this issue.
I can make this pull request but it might just be easier for @dmbates.

[2017-12-04 17:23] andyreagan commented on #106
In the meantime, @IgorDouven you can fix this by just pinning stasbase:
    Pkg.pin("StatsBase",v"0.19.0")

[2017-12-04 17:29] dmbates commented on #106
This is a direct consequence of changes in `StatsBase` and, indirectly, changes in `DataFrames`.

Note that your installed `MixedModels` is v0.13.0 and the most recent released version is v0.14.1, which depends on `DataFrames 0.11.0`.

The simplest fix is what you have done.  Longer term you will want to update to `DataFrames 0.11` which will allow many other packages to update.  It is tricky to d

[2017-12-04 17:40] andyreagan opened #107 "dof is not defined for MixedModels.GeneralizedLinearMixedModel{Float64}"
Looks like it's not implemented:

The linear model code is here, I'm not sure how to modify for the generalized model though: https://github.com/dmbates/MixedModels.jl/blob/7d152ad8ac69338fd19c41f8fcf5a82a201dd0e8/src/pls.jl#L260

[2017-12-04 17:41] andyreagan commented on #107
I think it should be the same, right?

[2017-12-04 17:51] dmbates commented on #106
I should have been more clear about fixing this once `DataFrames` is updated to 0.11.1

The Formula/ModelFrame/Contrasts/ModelMatrix system has been moved out of `DataFrames` into https://github.com/JuliaStats/StatsModels.jl

The currently released version (0.1.0) of `StatsModels` still gives an error but the "master" version fixes the problem.  I hope a new version of `StatsModels` will be releas

[2017-12-04 20:38] IgorDouven commented on #106
Thanks for the feedback -- much appreciated. I'll wait for Julia 1.0 to be released, then, after which I'll make a fresh start. In the meantime, I'm happy with the fix that is already working for me (and really happy with the MixedModels package so far -- thanks, Doug Bates, for creating this.)

[2017-12-04 20:38] #106 closed

[2017-12-04 21:58] andyreagan commented on #107
Fixed by #110

[2017-12-04 21:58] #107 closed

[2017-12-04 21:59] andyreagan commented on #101
Closing this in favor of #95 (redundant)

[2017-12-04 21:59] #101 closed

[2017-12-11 20:09] dmbates commented on #93
Fixed in v0.16.0 via #112

[2017-12-11 20:09] #93 closed

[2017-12-18 20:27] andyreagan opened #114 "Respect user-defined ordering of Categorical variables"
The internals of the package rely on the `.refs` of the CategoricalArray type.
While I don't fully understand how the CategoricalArray type is _intended_ to be used, the refs seem to be internal, whereas the `order` can be changed by a user.

@nalimilan understands this and can perhaps better explain how to use CategoricalArray (where the documentation is thin).
AFAIK, there are stored `levels` an

[2017-12-18 22:13] nalimilan commented on #114
Categorical arrays are always ordered (somewhat). The `ordered!` function just determines whether the values can be compared using `<`, but for this package that shouldn't make a difference.

[2017-12-18 22:29] andyreagan commented on #114
Right, so by "respect user-definied ordering", what I mean is `levels`.

[2017-12-18 22:30] andyreagan commented on #114
So, for a user to be able to set ordering (i.e., by setting `levels!`), this package needs to use the `order` lookup rather than `refs` directly.

[2017-12-19 10:13] andyreagan commented on #114
Yes: the "ordered" property of a CategoricalArray, accessed by `isorderd()`, etc, is not relevant for our discussion here. It is meant to encode an ordinal variable as opposed to a nominal one, and does not have any bearing on the `levels` of the array.

Herein, when I refer to the "order", I mean the specific order of elements in `levels`.

I did some testing, and here's what I found:

- The `.re

[2018-01-01 00:35] protogeezer opened #115 "Undefined method with MixedModels 0.13 on Julia 0.6.2"
I can't seem to find a version of MixedModels that works on 0.6.2. Pkg won't install a version after 0.13.
Any guidance about how to get everything consistent would be great. So, what I'm seeing is:

julia> using RData, DataFrames, MixedModels
INFO: Recompiling stale cache file /Users/sjbespa/.julia/lib/v0.6/MixedModels.ji for module MixedModels.
WARNING: Method definition model_response(DataFrame

[2018-01-01 21:58] nalimilan commented on #115
You probably have a version mismatch in the dependencies of MixedModels. Check that you are using the latest versions of DataFrames, StatsBase and StatsModels (use `Pkg.status` to get this information).

[2018-01-01 22:02] protogeezer commented on #115
I definitely do not have the latest versions of most packages for some reason.

I tried (with no joy) to delete the entire directory ~/.julia/v0.6 and reloaded all the packages. Including

Pkg.add(“MixedModels”)

How do I get the latest versions?

[2018-01-01 22:28] nalimilan commented on #115
That's probably because you have installed packages which require DataFrames < 0.11. Unless you can remove these packages, stay with the latest version of MixedModels which is compatible with DataFrames 0.10.1.

[2018-01-02 19:15] protogeezer commented on #115
It appears that Gadfly and RData are the culprits - I'll file issues with those packages. Thanks.

[2018-01-02 19:15] #115 closed

[2018-01-02 19:20] protogeezer opened #116 "Crash in ranef with MixedModels 0.16"
running a simple VAM:
fm = fit!(lmm(@formula(score ~ 1 + year + (1 + year | S7_ID) + (1 + year | CHILDID)), j1))
followed by
ranef(fm)
results in:
ERROR: MethodError: no method matching αβAc_mul_B!(::Float64, ::MixedModels.BlockedSparse{Float64,Int32}, ::Array{Float64,1}, ::Float64, ::Array{Float64,1})
Closest candidates are:
...
Stacktrace:
 [1] ranef!(::Array{Array{Float64,2},1}, ::MixedModels.L

[2018-01-02 19:26] dmbates commented on #115
@protogeezer It comes down to which packages allow for `DataFrames` v0.11.1 or later (v0.11.3 is the current release) and which cap the version of `DataFrames` at 0.11.0.  The current dependencies of `Gadfly` end up conflicting with v0.11.1 or later of DataFrames, although I don't see from a brief glance how this happens.  You can try installing the latest DataFrames, CategoricalArrays, etc. then

[2018-01-02 19:36] protogeezer commented on #115
Thanks.

The dependency that is in the Gadfly REQUIRE file is something like DataFrames 0.4 - which actually might be a DataArray dependency. When I tried checking out the master it griped about not being able to find a reasonable version of ShowOff, of all things. On a whim, I changed the dependency to 0.10.0 and everything updated. That’s good enough for me at this point.

Stephen

[2018-01-02 19:40] dmbates commented on #116
Thanks for the report and for the fix.

Can you describe the configuration of `S7_ID` and `CHILDID`?  Is `CHILDID` nested within `S7_ID`?  If you could provide an example it would help in writing tests but I can understand if your data are proprietary and you can't do so.

[2018-01-02 19:45] protogeezer commented on #116
Yes childid is nested in s7_id (child’s school during 7th wave of the (public) ECLS-98 database. I can’t find the data for using your drop box - so can I just email you the data frame I used (j1 in the issue)?

[2018-01-02 19:54] dmbates commented on #116
Yes, please.  Just email it.  As it is public, can I incorporate it in the `dat.rda` file in the `test` directory?

[2018-01-02 21:00] nalimilan commented on #115
The problem with RData is known, it's waiting for changes in CSV.jl. Not sure about Gadfly, but I think it's related to RData.

[2018-01-02 21:18] protogeezer opened #117 "method error with MixedModels 0.16"
the following code:
mixed = lmm(f,df);
fit!(mixed);
n_trms = length(mixed.trms);
NT=length(mixed.trms[n_trms]);

results in:
ERROR: MethodError: no method matching length(::MixedModels.MatrixTerm{Float64,Array{Float64,2}})
Closest candidates are:
  length(::SimpleVector) at essentials.jl:256
  length(::Base.MethodList) at reflection.jl:558
  length(::MethodTable) at reflection.jl:634

a fix appear

[2018-01-02 21:33] protogeezer commented on #116
OK I’ll send the two files (test file and data sample) to your university email. Github strips attachments.

We should discuss what data from the ECLS-98 and ECLS-11 to add to your library (those data bases have something like 15K students and 15K variables.) The small sample attached is nearly worthless for anything but testing the code?

With appropriate file paths:

using CSV, MixedModels, Stat

[2018-01-03 21:39] #116 closed

[2018-01-03 21:39] #117 closed

[2018-02-23 21:03] hjohns12 opened #120 "Including a high-dimensional fixed effect"
I want to compare the results from two models: one model with two simple, scalar random effects of the form (1| G) + (1 | H), and one model with a random effect on the first grouping variable and fixed effect on the second ((1 | H) + G). When I specify the second model using the MixedModels package, I’m thrown the “out of memory” error. Because I can't share my actual data, I'm using an example se

[2018-02-23 21:45] dmbates commented on #120
Thanks for creating the issue, Hope.

As you mentioned in our earlier off-line conversation the central computation in models with fixed effects and random effects is solving a least squares problem.  In the case of mixed-effects models it is a penalized least squares problem where the penalty is determined by the variance structure of the random effects.  Random effects with a low variance have a

[2018-02-26 20:40] dmbates commented on #120
What I proposed as a work-around was to tweak the existing structure for a random-effects term to fit the model with fixed-effects for one of the grouping factors.  The central issue is that you can't use the full set of indicators for a grouping factor in addition to the "Intercept" column when working with fixed effects, but you can with random effects because of the shrinkage involved in fittin

[2018-02-28 13:10] hjohns12 commented on #120
Perhaps it’s too obvious, but my first instinct is that we could drop the intercept term and the model would be identifiable. Why isn't this an option?

[2018-03-01 20:07] dmbates commented on #120
In your case it may work to drop the intercept term.  In the example with the MovieLens data you would need to specify the model as
[code]
and the current implementation of ModelMatrix balks at creating a model matrix with zero columns for the fixed effects.

The better solution will be to create a sparse or blocked model matrix for the fixed-effects terms.  I was trying to finesse that by saying

[2018-03-08 08:34] IgorDouven opened #121 "unable to update to new version"
I'm trying to update to the latest version, but when I use `Pkg.update("MixedModles")`, the message I receive is this:

Package MixedModels was set to version 0.13.0, but a higher version 0.16.3 exists. To install the latest version, you could try doing a full update with `Pkg.update()`.

Then when I run `Pkg.update()`, I get the message that there are no packages to install. Finally, when I run `

[2018-03-08 09:22] nalimilan commented on #121
That's probably due to DataFrames, see https://discourse.julialang.org/t/how-to-upgrade-from-dataframes-0-10-1-to-0-11-3/8243/.

[2018-03-08 09:46] IgorDouven commented on #121
That doesn't seem to be the problem in my case. `Pkg.installed("DataFrames")` returns 0.11.5+. In fact, when I now run `Pkg.update("MixedModels")` I get the warning that DataFrames is fixed at 0.11.5+ conflicting with requirement for MixedModels: [0.9.0, 0.11.0). Julia then recommends that I use `Pkg.free("MixedModels")` to update to version 0.16.3 of MixedModels, but when I do that, I get an erro

[2018-03-08 09:53] nalimilan commented on #121
OK, so that's because some files have been modified in the MixedModels directory. If you don't care about them, just remove that directory (or move it elsewhere).

[2018-03-08 10:49] IgorDouven commented on #121
I tried to remove the package, then to reinstall, but that didn't work. I suppose I'd have the remove the directory via the terminal then, but I didn't manage to do that. I think I'll just wait until all these package inconsistencies are resolved.

[2018-03-08 11:03] nalimilan commented on #121
Yes, you need to remove the directory manually, but you can do that with your file manager. Note that the problem won't resolve on its own as it's due to a problem on your local system.

[2018-03-08 11:48] IgorDouven commented on #121
It worked -- many thanks!

[2018-03-08 11:48] #121 closed

[2018-04-05 15:49] reallyasi9 opened #123 "Large Random Intercepts + Slopes Model Fitting Results in MethodError for SparseMatrixCSC Multiplication"
I have been having trouble fitting a very simple model with random intercepts and slopes when the number of grouping factors is large.  From what I can tell, this is because there are missing definitions for some of the linear algebra functions for sparse matrices.  A simple example is:

[code]

The resulting error is:

[code]

When I attempted to define my own `A_mul_Λ!` with a first argument of

[2018-04-15 21:57] rodonn opened #124 "Multinomial / Categorical Outcomes"
Is this package able to fit [Multinomial Logistic Regression](https://en.wikipedia.org/wiki/Multinomial_logistic_regression) models or any other type of model with categorical/multiple discrete outcomes?

These types of models often come up when you need to choose one option out of a finite set of alternatives. They are very similar to binary logistic regression, except that the probabilities are

[2018-04-16 15:36] dmbates commented on #124
Not directly.  It is possible that it could be modified to do so but I don't really know enough about this model to make such modifications.

[2018-04-16 20:39] yanivabir commented on #100
Is there any news on this? DataFrames v0.11.0  has been released and JuliaStats/StatsModels.jl#30 seems to have merged. Being able to fit random slopes for interactions is a very important feature..

[2018-04-19 08:50] yanivabir opened #125 "bootstrap not using all available cores"
Calling bootsrap on a lmm:
bt_fm1 = bootstrap(10, fm1);

It seems that not all available cores are used: looking at my Mac activity monitor, it seems that only two are used (out of 4 HT available).

How could this be controlled?

Thanks

[2018-04-20 17:42] rodonn commented on #124
Thanks. I'm looking into how difficult it would be for me to make the modifications.
Is the approach in MixedModels similar to what you describe in the lme4 theory [documentation](https://cran.r-project.org/web/packages/lme4/vignettes/Theory.pdf)?

[2018-04-24 19:54] kleinschmidt commented on #100
Fitting random slopes is possible on the current release of `StatsModels` if you specify them directly, as in `(1+a+b+a&b | subject)`.  On `StatsModels` master the `*` syntax works, so you can do `(1+a*b | subject)` to get the same specification (due to JuliaStats/StatsModels.jl#54).  We can tag a release once @dmbates confirms that it won't break anything else here.

[2018-04-25 15:07] #125 closed

[2018-04-25 15:11] dmbates commented on #100
Looks good for tagging a release of `StatsModels`.  Thanks for the work on that, Dave.

I have a release of `MixedModels` with the `@eval(@formula($nothing ~ $l))` fix ready to go once the new release of `StatsModels` is up.

[2018-05-15 19:34] #100 closed

[2018-06-20 00:45] mikabr opened #127 "errors with multiple random slopes"
I'm trying to fit models where there are random slopes for multiple random effects, and this is resulting in errors about there not being the right methods for the given types. Reprex using the example in the docs:

[code]

Having multiple random effects only with intercepts works fine:
[code]

As does having on random effect but with slopes:
[code]

But having multiple random effects and and even

[2018-06-20 15:54] mikabr commented on #123
@reallyasi9 did you ever figure out a solution to this? having a similar issue

[2018-06-20 16:06] reallyasi9 commented on #123
No solution yet.  Lack of support for sparse matrices has forced us, for the time being, to abandon the attempted fit with the entire dataset.

[2018-06-20 18:53] dmbates commented on #127
Thanks for the example.  As the message indicates, it is a matter of implementing a particular method for multiplication of virtual a scalar random effects term and a vector-valued random effects term when there are more levels for the scalar term.  If you look at the file `src/modelterms.jl` you will see that there are many such methods but not that particular signature.

I was putting this off w

[2018-06-20 20:49] mikabr commented on #127
Thanks! I think that this is missing the other argument order for `VectorFactorReTerm` and `ScalarFactorReTerm`? Since this now works:
[code]

But this doesn't:
[code]

[2018-06-20 20:52] mikabr commented on #127
Also, in my actual model on my data, the missing method is:
[code]

[2018-06-26 16:43] dmbates commented on #127
@mikabr I just pushed 65fb3d42 which I believe fixes the second model for the `VerbAgg` data that you show.  Is there any chance you could share even an anonymized version of your data so I can reproduce the problem you encounter?  Whether or not the first matrix in that call is a dense matrix or a sparse matrix depends on the relationships of the grouping factors in the random-effects terms.  In

[2018-06-26 21:53] mikabr commented on #127
@dmbates Sure thing, [this script](https://github.com/mikabr/aoa-prediction/blob/master/aoa_unified/aoa_analyses/fit_crossling.R) loads the data and tries the fit the model, which has nested random effects (cc @mcfrank).

[2018-07-02 02:10] harishharman opened #129 "MixedModels not working in Julia 0.7"
I have downloaded the 0.7 Julia and installed MixedModels package (ubuntu 17.2). During the usage i got below error. I also tried Pkg.resolve.

julia> using MixedModels
[ Info: Precompiling module MixedModels
ERROR: LoadError: ArgumentError: Package MixedModels does not have Compat in its dependencies:

If you have MixedModels checked out for development and have
added Compat as a dependency but h

[2018-07-02 13:59] dmbates commented on #129
Thanks for catching that.  I have added `Compat` to the `REQUIRE` file on the `master` branch and will release a new version later today.

Unfortunately, that is just one of many impediments to having this package run on v0.7.  Many other packages in its dependencies must be updated for v0.7 before this package can be.  There is an ongoing effort to upgrade these more basic building blocks.

[2018-07-02 18:21] dmbates commented on #129
I have just created version 0.18.1.  It should be added to the registry tomorrow.

This doesn't mean that the package will be usable with julia `v0.7.0-beta`.  Several dependencies such as `NLopt`, `GLM` and `Distributions` need to be updated first.

[2018-07-02 18:34] harishharman opened #130 "Random estimates Named array messed up (Julia 0.6.3)?"
Please check the named array output of the Random effects. It looks like jumbled up or not assigning coeffs to the right column header.
randomDF = ranef(mm1, named=true)[1]

We are working on the sample data set to prove it. If you can check this issue without sample please go  ahead else we will get back to you with samples input and outputs (2-3 days).

[2018-07-02 19:16] harishharman commented on #129
@dmbates Thanks for the update.  I am not going to retest until all the dependencies are updated.  Do i need to close this issue or keep it open?

[2018-07-02 19:34] dmbates commented on #129
Let's keep the issue open.  That way there will be a definite sign when the package and its dependencies have been updated to run on v0.7.0

[2018-07-03 16:07] dmbates commented on #130
It appears that I missed some of the subtlety in how the levels are defined in [`CategoricalArrays`](https://github.com/nalimilan/CategoricalArrays.jl.git).

[2018-07-03 18:34] dmbates commented on #130
I think I have a fix but I don't have a reproducible example.  Would you be willing to try after
[code]
to see if this works for you?

[2018-07-03 21:12] harishharman commented on #130
julia> Pkg.checkout("MixedModels")
INFO: Checking out MixedModels master...
INFO: Pulling MixedModels latest master...
INFO: No packages to install, update or remove

is this right?

[2018-07-03 22:10] dmbates commented on #130
Now do the test on fitting the model and checking the random effects order.

[2018-07-04 00:31] harishharman commented on #130
If you look at the last INFO. It looks like update was  not successful.
INFO: No packages to install, update or remove

Even though i tried my data and same issue no change

[2018-07-04 19:54] dmbates commented on #130
I forgot to push my changes to github. Now done.  Please try again.

[2018-07-05 02:29] harishharman commented on #130
@dmbates  Just did one round of test and looks good. I will do one more round of test tomorrow and clsoe this issue. Thank you.

[2018-07-10 15:05] #130 closed

[2018-07-24 21:49] mcfrank commented on #127
Hi Doug,

Just following up on this message - we really appreciate your help with
this and are sorry to ask you for more, but we have a project blocking on
this issue. If you are not able to work on this, just let us know and we'll
investigate alternate options (e.g., giving up on fitting this particular
model).

all the best,

[2018-08-14 14:16] jen265 opened #131 "Mixed Model with 3 nested grouping factors, random intercepts, and random slopes"
I'm trying to fit a mixed model with 3 nested grouping factors (cities nested in states nested in countries), random intercepts, and random slopes (random intercepts and random slopes are uncorrelated) as in the following model:

mod = @formula(Y ~ 1 + attitude * city_attitude + attitude * state_attitude + attitude * country_attitude
+ (1 | city) + ((0 + attitude) | city)
+ (1 | state) + ((0 + att

[2018-08-14 20:51] Nosferican commented on #124
You could use part of the [code](https://github.com/JuliaEconometrics/Econometrics.jl/blob/master/src/GeneralizedLinearModels.jl) in [Econometrics.jl](https://github.com/JuliaEconometrics/Econometrics.jl). That one has multinomial logistic regression. I will work on to dispatch ordinal logistic regression too.

[2018-08-14 20:52] Nosferican commented on #56
This is likely academic and probably should be closed.

[2018-08-14 20:53] Nosferican opened #132 "Release for Julia 1.0"
Leaving this issue to track progress.

[2018-08-17 05:05] Nosferican commented on #132
@dmbates, I will be developing some packages that will use MixedModels.jl as dependency and wanted to check on the plans/timeline to update this package or if there was anything to speed the process. I believe the only dependency missing a 1.0 compat release is GLM, but it has a PR that is 1.0 compatible; if not this [fork](https://github.com/Nosferican/GLM.jl) is.

[2018-08-31 13:50] Nosferican commented on #132
@dmbates Let me know if there is anything I can do to help out or a time estimate. Thanks!

[2018-08-31 13:57] dmbates commented on #132
I am currently working on the `0.7updates` branch.  The change from generics like `Ac_mul_B!` to various versions of `mul!` will require substantial code modifications.  I am still trying to get femtocleaner working but haven't yet succeeded.  If you know what is required to trigger a femtocleaner run I would appreciate any hints.

[2018-08-31 14:05] Nosferican commented on #132
In my experience FemToCleaner even in the 1% times that actually works is not nearly as helpful as last time (0.5 -> 0.6). Deprecations.jl was never updated thoroughly this cycle. I finished updating GLM and QuantEcon so I can probably help out a bit with a few of the deprecations. I am developing a package which will wrap MixedModels so I can totally help out getting it sooner than later.

[2018-08-31 20:01] Nosferican commented on #132
I am having an issue identifying where `UniformBlockDiagonal` is defined.

[2018-08-31 21:18] dmbates commented on #132
I have reached an impasse at commit https://github.com/dmbates/MixedModels.jl/commit/d169823ad265e10e99d5b9744353f91fd25c17e2 in the 0.7updates branch.  A simple model fit, such as `fm1` in `test/pls.jl` fails on a method error when trying to construct the `LinearMixedModel` object.
[code]
 I can't understand why the second method in the "closest candidates" doesn't apply.  I have been at this all

[2018-08-31 21:54] dmbates commented on #132
UniformBlockDiagonal is defined in src/types.jl

[2018-09-05 12:28] dmbates commented on #132
Yes. I have made several commits to this branch. It is still not passing the tests but I hope to get there today.

[2018-09-11 16:16] dmbates commented on #132
@Nosferican Can you check the current master on version 0.7 or, if you use https://github.com/JuliaStats/StatsModels.jl/tree/0.7patch, version 1.0

[2018-09-11 16:17] Nosferican commented on #132
Sure, should I checkout the StatsModels branch as well?

[2018-09-11 16:32] dmbates commented on #132
The main difference between 0.7 and 1.0 is that deprecation warnings in 0.7 are changed into errors in 1.0.  The simplest approach is to use 0.7.  The alternative is to checkout the `0.7patch` branch of `StatsModels` and use 1.0.  Whichever seems most reasonable to you.

[2018-09-11 16:34] dmbates commented on #132
I expect that there will soon be a new release of `StatsModels` with the simple change to allow it to support `MixedModels` on 1.0

[2018-09-11 16:49] Nosferican commented on #132
The tests seem to pass all clear, just one deprecation which showed up (missing a `dims`)
[code]
Shouldn't fixing the remaining deprecation make it 1.0 test passing?

[2018-09-11 16:58] Nosferican commented on #132
Here to track the patch, JuliaLang/METADATA.jl#17935.

[2018-09-11 17:31] #56 closed

[2018-09-11 20:26] dmbates commented on #132
I have updated the `REQUIRE` file (and the docs) now that `StatsModels v0.3.1` is in place.  Just waiting for the CI checks to run.

[2018-09-11 21:41] dmbates commented on #132
Package submitted as https://github.com/JuliaLang/METADATA.jl/pull/17947

[2018-09-11 21:41] #132 closed

[2018-09-11 21:42] dmbates commented on #129
Update submitted as https://github.com/JuliaLang/METADATA.jl/pull/17947

[2018-09-11 21:42] #129 closed

[2018-09-11 22:07] Nosferican commented on #114
Best solution would be to accept the contrasts for StatsModels.ModelFrame.

[2018-09-12 08:08] nalimilan commented on #114
I hadn't noticed @andyreagan's comment, but I totally agree that one should use `levels`. The ordering used by the `refs` field should be an implementation detail invisible to users. But AFAIK that's what the package currently does, after to @dmbates's recent PRs.

[2018-09-13 13:34] nalimilan commented on #114
Yes.

[2018-09-20 16:40] DominiqueMakowski opened #134 "lmm and glmm shortcuts deprecated?"
It seems that in the most recent version (1.0.0), the `lmm` and `glmm` shortcuts for the `fit(..., ...)` expression have been deprecated, are there any particular reasons for this choice? Thank you!

[2018-09-21 17:04] DominiqueMakowski opened #135 "Extract data used for fitting"
Dear @dmbates, I am trying to access the data (passed as a DataFrame) used for fitting the model, but can't find it in the internals of an `lmm`. Is it possible, and how, to access this data?

For instance, in GLMs the data is stored in `model.mf.df`.

Thanks a lot!

[2018-09-23 09:02] dmbates commented on #135
Sorry for the delay in responding.  I have been traveling and, as always seems to happen, creating talks at the last minute even though I had 6 months lead time.

The original model frame (which is what `mf` is in a `LinearModel` or `GeneralizedLinearModel`) is not stored in the `LinearMixedModel` and `GeneralizedLinearMixedModel` objects.  The model matrices are embedded in the components of the

[2018-09-23 09:11] dmbates commented on #134
As most environments for creating Julia packages or scripts or running Julia code have tab-completion of names, I think that using the
[code]
or
[code]
style is not terribly more difficult than a call to `lmm`.

It is good practice in Julia packages to avoid cluttering the namespace with too many names, especially too many short function names.  Initially I was emulating the style in the `lme4` pa

[2018-09-23 11:07] DominiqueMakowski opened #136 "Standardized coefs"
This is a follow up for #135 about what I would require the dataframe used for fitting.

Mixed models are (although too slowly) becoming the default and one of the most widely used methods in psychology. However, there are certain limitations for users and reviewers that in my opinion slow the transition. In particular, users often are not sure about how and what to report in their manuscript (bas

[2018-09-23 11:09] DominiqueMakowski commented on #135
Closing this (discussed in #136)

[2018-09-23 11:09] #135 closed

[2018-09-24 08:46] DominiqueMakowski commented on #136
@nalimilan How would it work?

[2018-09-24 08:57] dmbates commented on #136
I was going to mention that if you just need the model matrix for the fixed-effects terms that is stored, as a plain matrix in transposed form, as part of the second last component of the `trms` field.  I could quite easily add an extractor for that.

[2018-09-24 13:16] nalimilan commented on #136
I don't know precisely, but that's clearly an issue which is going to be raised with lots of other model families, so we need a general solution. Better discuss that in a StatsModels issue.

[2018-09-24 13:50] dmbates commented on #136
If it will help I have just committed changes to the "getproperty" branch so that you can retrieve the fixed-effects model matrix as
[code]
and the response vector as
[code]

[2018-09-24 17:29] DominiqueMakowski commented on #136
I'll close this issue for now in the hope that a more general solution will be found (see [here](https://github.com/JuliaStats/StatsModels.jl/issues/75)). Thanks a lot for your help!

[2018-09-24 17:29] #136 closed

[2018-10-02 17:59] dmbates commented on #123
Sadly I haven't addressed the issue earlier and it is now quite old. Things have changed with the release of
[code]

and the most recent `MixedModels` release (v1.1.0 is the latest as I write this).

A function to generate an example showing the problem is given in the issue but it uses simulated data without setting the random number seed.
I modified this function to take an `AbstractRNG` as the

[2018-10-02 19:02] dmbates commented on #131
@jen265 Sorry to take so long to respond to this question.  I have been working on updating this packages and some of the packages on which it depends to run with Julia v1.0.0.

Could you please update your version of the package to MixedModels v1.1.0 (one way is
[code]
and check if this is still a problem for you.  If so, could you provide me with a sample data set?  These kinds of issues depend

[2018-10-02 19:04] dmbates commented on #114
@andyreagan Have you checked with recent versions of this package?  I think this should be resolved but I would appreciate it if you could check before I close the issue.

[2018-10-02 19:07] dmbates commented on #105
@tolskais Has this issue been resolved?  Can we close it now?

[2018-10-02 19:07] #74 closed

[2018-10-02 21:27] dmbates commented on #127
My apologies for failing to get back to you sooner.  I have been overhauling this package and some of the other packages on which it depends to get them to run under Julia v1.0.0

First of all, you can't fit a model of this complexity when you only have 10 distinct languages.  The covariance matrix for the random effects for `language` would be a 10 by 10 symmetric matrix when would have 55 distin

[2018-10-03 19:24] cvoeten opened #139 "BoundsError inside LinearAlgebra.Adjoint with crossed random slope"
Hello,

I am trying to fit a mixed-effects logistic regression model. My data can be obtained here: https://surfdrive.surf.nl/files/index.php/s/y8N0zrTWaj1tGAf (will not be around forever). The formula that goes along with it is: `phonemeDecBin ~ dutch + step + dutch & step + l + dutch & l + step & l + &(dutch, step, l) + ((1 + step + l + stepL_by_lTRUE + stepQ_by_lTRUE + stepC_by_lTRUE) | ppn) +

[2018-10-04 13:08] jen265 commented on #131
@dmbates Thank you very much for your reply. I installed Julia v1.1.0 and MixedModels v1.1.0 and tried it again. Unfortunately, the model still results in the following Method Error:
MethodError: no method matching αβA_mul_Bc!(::Float64, :: BlockedSparse{Float64,Int32}, ::BlockedSparse{Float64,Int32}, ::Float64, :: BlockedSparse{Float64,Int32})

When I include only 2 of the 3 grouping factors, the

[2018-10-04 14:15] andyreagan commented on #114
@dmbates thanks for reaching out. I'll take a look this afternoon!

[2018-10-05 18:59] andyreagan commented on #114
@nalimilan @dmbates looks okay to me! I had written a `predict` function that was safe the previous issues with refs, and it would be much easier to do with these fixes.

https://github.com/andyreagan/MixedModels.jl/blob/predict-new/src/pls.jl#L232
https://github.com/andyreagan/MixedModels.jl/blob/predict-new/src/PIRLS.jl#L97

with some tests here:

https://github.com/andyreagan/MixedModels.jl/blo

[2018-10-05 18:59] #114 closed

[2018-10-06 03:12] #131 closed

[2018-10-17 22:24] kleinschmidt opened #143 "no method error in `VarCorr`"
[code]

Looks like it's coming from the call to `VarCorr`.

[2018-10-19 16:52] dmbates commented on #143
What version of `MixedModels` are you using?  I am unable to reproduce this with v1.1.0
[code]

[2018-10-19 17:41] kleinschmidt commented on #143
Huh, I'm also on 1.0.1:

[code]

[2018-10-19 17:42] kleinschmidt commented on #143
The only thing I could think of is that I'm on Arch linux using the official package:

[code]

I'll try with the julia binaries and see...

[2018-10-19 17:48] kleinschmidt commented on #143
okay with the official binaries it works as expected. very strange.

[2018-10-19 18:15] kleinschmidt commented on #143
slack has concluded that this is caused by the Arch BLAS not being ILP64, so `BlasInt` is `Int32` but `size` gives `Int64` here: https://github.com/dmbates/MixedModels.jl/blob/04e8a5ffb0fbc49d189ef57cbcd3bb4cfb1d1a00/src/simulate.jl#L119

slack has also agreed that this is best fixed upstream even if @dmbates can be blamed for the type piracy :)

[2018-10-19 19:02] #143 closed

[2018-10-19 19:53] dmbates commented on #139
Thank you for a thorough bug report.  The data frame `part` in the `.RData` file that you made available has duplicate names of `stepL`, `stepQ` and `stepC`.
[code]

Could you correct that or tell me which versions I should use?

I believe the problem is due to improper expansion of the `step` term in the expression `(1+step|primetarget)`.  @kleinschmidt is working on a rewrite of the `StatsModels

[2018-10-19 19:57] dmbates commented on #139
It appears that those columns have just been duplicated.
[code]
so you can get around the problem by
[code]

[2018-10-26 18:33] cvoeten commented on #139
Apologies for taking a while to get back to this. You are correct that the duplicated columns were an oversight on my part, but did you manage to fit the model after removing them? I've tried doing this:

[code]
and I also tried additionally changing the `form` line to
[code]
in case the `step` in the random-effects parts was the problem as you suspected, but on my machine (64-bit Arch Linux runni

[2018-11-07 10:57] tolskais commented on #105
Sorry for late, I’ll do that

[2018-11-07 10:57] #105 closed

[2018-11-11 12:03] Nosferican opened #145 "[Feature Request] Support for rank deficient"
Allow for rank deficient models to be handled and estimated.

[2018-11-25 03:14] skanskan opened #147 "How can I use MixedModels.jl without random effects?"
When I try it says I can't, I need random-effects.
I'd like to use the same package for fixed effects.
And if I try to create a fake variable with non-repeating values it also complains.
Regards.

[2018-12-12 20:43] amillscampisi commented on #120
I might have a similar problem. I am trying to estimate a mixed effect model with ~2 million customers. I was able to get a toy version of the model running with 100,000 random customers. At 500,000 individuals (~760k observations), the model crashes with the error below. Is there a simple solution to this problem?

`fm1 = MM.fit(MM.LinearMixedModel, MM.@formula(spend_centered ~ 0 + (1|cust_key)),

[2018-12-13 16:40] Nosferican commented on #145
I can try working the PR for this. How would it best handle it from a design approach in the package?

[2018-12-13 21:53] Nosferican commented on #147
If you don't need random effects, could you just use GLM?

[2018-12-13 22:00] Nosferican commented on #120
For absorbing fixed effects I usually use the method of alternating projections to get the annihilated matrix. It is really efficient and scales well to high dimensions. I use it to get the within estimator and the code generalizes to partial demeaning which I use for econometrics slang random effects in panel data world. It might be useful here.

[2018-12-13 22:48] Nosferican opened #148 "rankUpdate! missing method and modeling question"
I am trying to port some code from SAS in Patterson and Jones (2006).
The SAS code (ABE Example 3.1)

Set up
[code]
Code
[code]
I am trying to figure out how to translate `random subject(sequence)` to MixedModels syntax.
From the [docs](http://dmbates.github.io/MixedModels.jl/stable/MultipleTerms.html#A-Model-With-Nested-Random-Effects-1), I believe it is
[code]
that leads to
[code]
I tried other

[2018-12-13 23:06] vargovick opened #149 "Issue with interactions of random effects"
I'm currently having issues fitting a model with interactions in the random effects. This model does work in R with lme4. The model I'm trying to fit is:
`mdl = GeneralizedLinearMixedModel(@formula(response ~ 1 + (1|x/y)), dat, Bernoulli());`

It works without the y term, i.e.:
`mdl = GeneralizedLinearMixedModel(@formula(response ~ 1 + (1|x)), dat, Bernoulli());`
works just fine.

The error I get

[2018-12-13 23:38] Nosferican commented on #147
MixedModels uses GLM as a dependency so there isn't any extra dependencies or such. If you want yu could just make a function that calls `LinearMixedModel` if it has random effects and `LinearModel` if it doesn't. As a wrapper you can just use that one.

[2018-12-14 19:08] kleinschmidt commented on #149
That slash syntax on the groups isn't currently supported (which is the cryptic error your seeing) and I'm actually not sure what exactly it does in lme4; fit random effects of `x` nested in `y`?

Maybe @dmbates can suggest an alternative way of specifying the same model.  Perhaps with separate random effects by `x` and `y`?

[2018-12-14 21:38] vargovick commented on #149
Thanks, @kleinschmidt.

I was under the impression that the slash syntax was supported. From http://dmbates.github.io/MixedModels.jl/latest/MultipleTerms/:

I've also tried
`mdl = GeneralizedLinearMixedModel(@formula(response ~ 1 + (1|x) + (1|x:y)), dat, Bernoulli());
mdl = GeneralizedLinearMixedModel(@formula(response ~ 1 + (1|x:y)), dat, Bernoulli());`
and that didn't work either.

FWIW, in R wi

[2018-12-18 16:32] dmbates commented on #147
I agree with @Nosferican .  This package is advertised for fitting mixed-effects models and, by definition, that means models that have both fixed-effects parameters and random effects.

[2018-12-18 16:32] #147 closed

[2018-12-18 17:01] dmbates commented on #148
The error message relates to a symptom, not the actual problem.

A formula like `logAUC ~ sequence + period + formulation + (1|sequence) + (1|subject)` is not estimable because `sequence` occurs as a fixed-effects term and as a random effect.  It appears from the SAS output segment that is only one set of random effects and they are associated with `subject`.

In a way, this is related to #149 .

[2018-12-18 18:47] dmbates commented on #148
I was able to fit this model using MixedModels yielding variance components of
[code]

The reason these are different from those given by SAS is because they default to REML estimation of the variance components.  `MixedModels` uses maximum likelihood.  I have never bothered to add REML estimation to `MixedModels`.  It is possible to do that but I don't think it is as wonderful as many people assu

[2018-12-18 20:36] dmbates commented on #120
Is the reason for the formula being `spend_centered ~ 0 + (1|cust_key)` because you have centered the response and therefore eliminate the "Intercept" or mean?  I would suggest trying it without centering the data (if possible) and changing the formula to `spend ~ 1 + (1|cust_key)`.  I'm not entirely sure if the evaluation of the objective works properly when the model matrix for the fixed effects

[2018-12-24 04:37] Nosferican commented on #148
Thanks for the comments! I will go ahead and close this as the MethodError shouldn't be prevalent in most cases.

[2018-12-24 04:37] #148 closed

[2018-12-26 19:17] #145 closed

[2019-01-02 12:13] marynavickt opened #152 "MixedModels, no method matching rankUpdate!"
I get an error

no method matching rankUpdate!(::Hermitian{Float64,Array{Float64,2}}, ::BlockedSparse{Float64,Int32}, ::Float64)
Closest candidates are:
  rankUpdate!(::Union{Hermitian{T<:Union{Float32, Float64},S<:(Union{DenseArray{T,2}, ReinterpretArray{T,2,S,A} where S where A<:Union{SubArray{T,N,A,I,true} where I<:Tuple{AbstractUnitRange,Vararg{Any,N} where N} where A<:DenseArray where N where

[2019-01-02 19:01] dmbates commented on #152
It's interesting that the error depends on the order of the random-effects terms.

Could you make your data available for me to try it out?  If that is not possible, could you show us the output of `describeblocks` applied to your model?

These errors come about when the structure of the random-effects terms creates different types of matrices in the blocked Cholesky factor.  Part of the factoriza

[2019-01-02 19:18] marynavickt commented on #152
Sorry, can't share data, it's all confidential.
Output of describeblocks:

1,1: UniformBlockDiagonal{Float64} (1888, 1888) UniformBlockDiagonal{Float64}
2,1: SparseArrays.SparseMatrixCSC{Float64,Int32} (340, 1888) BlockedSparse{Float64,Int32}
2,2: UniformBlockDiagonal{Float64} (340, 340) UniformBlockDiagonal{Float64}
3,1: SparseArrays.SparseMatrixCSC{Float64,Int32} (128, 1888) BlockedSparse{Float6

[2019-01-02 19:42] dmbates commented on #152
Are any of the covariates `X1, X2, ..., X15` categorical or are they all numeric?  I am trying to understand the dimensions of the random effects for `R1` in particular.  My best guess is that the 1888 comes from 8-dimensional random effects for each of 236 levels of `R1`.  Is that the case?
Perhaps the easiest approach is if you could just tell me how many levels there are in each of `R1, ..., R5

[2019-01-04 09:38] marynavickt commented on #152
I was able to reproduce the same error on a different dataset so I can openly share it. Probably you could help me figuring out the cause?

Formula that I used: PRICE ~ SQUARE+ (GBA|ASSESSMENT_NBHD)+(LANDAREA|CENSUS_TRACT)

As for data types: ASSESSMENT_NBHD and CENSUS_TRACT was made categorical, GBA, LANDAREA, SQUARE and PRICE  numerical.

The error is still the same: MethodError: no method match

[2019-01-04 11:18] marynavickt opened #153 "MixedModels, no method matching mul<U+03B1><U+03B2>!"
Got an error:
 no method matching mul<U+03B1><U+03B2>!(::Array{Float64,2}, ::BlockedSparse{Float64,Int32}, ::Adjoint{Float64,Array{Float64,2}}, ::Float64, ::Float64)
Closest candidates are:
  mul<U+03B1><U+03B2>!(::Union{DenseArray{T<:Union{Complex{Float32}......

with formula PRICE ~ (Y|ASSESSMENT_NBHD)+(LANDAREA|ROOMS)+(YR_RMDL|QUADRANT)

Any help is much appreciated!

Dataset:
[dataset_mult_err

[2019-01-04 17:48] dmbates commented on #153
I'll look at the problem with the MixedModels code but first there are two things to note:
- you have an extreme outlier on PRICE at row number 33109 in the file where PRICE is 1
- as I mentioned previously, if you have a term like `(Y|ASSESSMENT_NBHD)` in the formula you should also have `Y` in the formula.

[2019-01-04 19:01] dmbates commented on #153
First, there is a method missing and I will add it.

I do want to point out that your model specifications are very peculiar and this is why these issues are cropping up.  Consider that `QUADRANT` has 4 levels.  A term like `(YR_RMDL|QUADRANT)`, which is equivalent to `(1 + YR_RMDL|QUADRANT)` says to fit two variances and a covariance to information from 4 quadrants.  Furthermore, you do not have

[2019-01-04 19:19] dmbates commented on #152
Thanks for the data set.  I will add that method.  My comments in #153 about the formula still hold.

[2019-01-04 19:31] marynavickt commented on #153
Thank you for pointing that out. I used this dataset for only one purpose - to reproduce the error that I had on a real data (that I couldn't share). So I didn't pay much attention to formula notation in this case. There is a chance that my original data has the same or similair problems though, so I'll look closely into that.
Really appreciate you feedbacks, thanks a lot!

Will you add both metho

[2019-01-04 19:56] #152 closed

[2019-01-04 20:18] dmbates commented on #152
@marynavickt Could you check that the master branch works on your example now and then I will release a new version of the package?

One way to switch to the master branch is
[code]
before any `using MixedModels` statements.

Once a new version is released you should be able to get the new release with
[code]

[2019-01-04 22:01] dmbates commented on #152
@marynavickt Could you try again after `git pull` in the `~/.julia/dev/MixedModels` directory, please?

[2019-01-06 15:40] marynavickt commented on #153
@dmbates, got another error on a dataset

`ERROR: MethodError: no method matching mulαβ!(::Array{Float64,2}, ::SparseArrays.SparseMatrixCSC{Float64,Int32}, ::LinearAlgebra.Adjoint{Float64,Array{Float64,2}}, ::Float64, ::Float64)`

`Stacktrace:
 [1] mulαβ!(::Array{Float64,2}, ::BlockedSparse{Float64,Int32}, ::LinearAlgebra.Adjoint{Float64,Array{Float64,2}}, ::Float64, ::Float64) at /root/.julia/dev

[2019-01-08 04:54] JockLawrie opened #155 "Coefs sometimes reordered seemingly at random"
Hi there,

The following example should result in fixed effects close to `[1,2,3]`.
Most of the time this is obtained, but sometimes I get something close to `[1,3,2]` instead.
That is, the order of the fixed effects seems to be changed (compared to the order in which they appear in the formula).
The random effects seem unaffected.
Any ideas what's happening here?

[code]

[2019-01-08 12:40] marynavickt commented on #153
I was able to fix the problem, don't know whether it's the best solution though.
I replaced
`mulαβ!(C::Matrix{T}, A::BlockedSparse{T}, adjB::Adjoint{T,<:Matrix{T}}, α=true, β=false) where {T} =
    mulαβ!(C, A.cscmat, adjB, α, β)`
with
`mulαβ!(C::Matrix{T}, A::BlockedSparse{T}, adjB::Adjoint{T,<:Matrix{T}}, α=true, β=false) where {T} =
    mulαβ!(C, Matrix(A.cscmat), adjB, α, β)`
and it worked jus

[2019-01-08 20:53] dmbates commented on #155
Note that `fixef` by default returns the permuted fixed effects.  See
[code]
This is to handle cases where the fixed-effects model matrix is rank deficient.  You can use either
[code]
or
[code]
to get the coefficients in the original order.

BTW, the package has a `simulate!` function that is considerably faster than simulating the response with something like your `update_y` function.
[code]

[2019-01-08 20:53] #155 closed

[2019-01-08 21:19] dmbates commented on #153
In general using `Matrix(A.cscmat)` would not be a good idea because it creates a dense copy of a sparse matrix.  There is already a check to see if the sparse matrix is not very sparse, in which case it is converted to a dense matrix before the model is created.  (See the `densify` function
[code]

I am just checking if I can use a method from the `SparseArrays` package or if I need to write a se

[2019-01-08 21:53] JockLawrie commented on #155
Ah OK, that works, thanks!

[2019-01-08 22:06] dmbates commented on #153
Could you try your example with the current version of master (d852947)?  One way to set it up is in the Pkg REPL prompt (type `]` as the first character on a line to get to that prompt and backspace as the first character on a line to return from it).
[code]

I will need to add some unit tests for these new methods to guard against the all-too-likely case that I may have things syntactically corr

[2019-01-09 08:07] marynavickt commented on #153
This solution works fine on my dataset. Although results seems to be a little bit different from what I got with my [version] (https://github.com/dmbates/MixedModels.jl/issues/153#issuecomment-452284547) )

[2019-01-09 19:44] Nosferican commented on #51
Got some recommended references or suggestions for the implementation?

[2019-01-09 21:43] marynavickt commented on #153
Thank you!

[2019-01-11 03:04] HaiyangJin opened #156 "Error for Random Slopes of Interactions"
Hi, thanks so much for this awesome package.

I just started to use it today and met an error when I tried to use random slopes of the interactions in the random effects.

### Command 1 (error)
When I run the command
 `lmm = fit(LinearMixedModel, @formula(RT ~ IV1*IV2 + (IV1 * IV2|Subject)), df)`
the error occurred and said:

*ERROR: MethodError: no method matching getindex(::DataFrames.DataFrame,

[2019-01-11 16:49] dmbates commented on #156
Thank you for checking out the package.  This issue is being addressed in the [`terms2.0` branch](https://github.com/dmbates/MixedModels.jl/tree/terms2.0) that builds on a forthcoming version of https://github.com/JuliaStats/StatsModels.jl/pull/71.

Until those new versions are in place, the easiest way to fit such a model is to create the column(s) for the interaction `IV1&IV2` in the dataframe `

[2019-01-13 04:42] HaiyangJin commented on #156
Many thanks!

[2019-01-13 04:42] #156 closed

[2019-01-16 15:54] getzze commented on #100
Julia 1.0.3
MixedModels v1.1.2
DataFrames v0.16.0
StatsModels v0.3.1

There is still a problem with interactions in the random effects.
From example 6 from the documentation:
[code]
Changing the formula leads to errors:
[code]

[2019-01-17 13:18] skanskan opened #157 "How to fit MixedModels with the option REML=TRUE?"
I need to use the package MixedModels.jl for regression with random effects.

I've created the following toy example.

[code]

It can be fit with this command:

[code]

But I need it to use the REML method instead of the maximum likelihood method.  How can I tell it to do it?

On R's lme4 you can switch between these methods with the option REML=TRUE or FALSE, but I can't find anything like that o

[2019-01-17 17:11] urchgene opened #158 "Fitting models with known covariance matrices"
Dear Prof. Bates,

Greetings..

Over many decades, you have provided materials, softwares, videos and many teaching aids for many people to understand mixed models. Thank you so much for this!

With Julia comes a lot of efficiency and large data modeling. In many applications in agriculture and human genetics, genomic information is used to make a covariance matrix to fit these mixed models.

Is t

[2019-01-17 22:07] PharmCat commented on #157
Also waiting REML implementation (or description if implemented), because is commonly recommended algorithm in clinical trials.

[2019-01-17 22:12] PharmCat commented on #158
Strongly waiting definition/implementation of application covariance structures like: Heterogeneous Compound Symmetry, Factor Analytic, Autoregressive and some more. No life without!

[2019-01-18 11:59] skanskan opened #159 "Different syntax for fitting the models. What's the difference?"
Hello.

I would like to use MixedModels.jl to fit regression models with random effects.
Looking at the official docs and some examples on the Internet I've found different syntaxes.

For example if I want to fit a Logit model (my outcome is binary) I can do it...:

[code]

What's the difference between both syntaxes?

[2019-01-18 19:58] dmbates commented on #157
I haven't added the REML criterion to `MixedModels`, not because it is difficult, but because the mathematical justification for it is not very sensible when you look at it carefully.  The usual justification is to reduce the bias in estimates of variance components but bias is the different between the expected value of the estimator and the parameter of interest.  The distribution of estimators

[2019-01-18 20:04] dmbates commented on #157
@skanskan I notice that in #159 mention that you are fitting GLMMs to some of your data.  I only plan to add a REML option for fitting `LinearMixedModel` objects.  The definition doesn't make sense for GLMMs.

[2019-01-18 20:41] skanskan opened #160 "How to fit a large dataset? Out of memory."
I would like to fit a logistic model a little bit more complex than this one to a dataset with 2 million rows where some combinations of the variables happen very  rarely.

`fit(GeneralizedLinearMixedModel, @formula(y ~ 1 + x + w + z + sex + group + (1 | id) + (1|city)), df, Bernoulli())`

I was also trying to fit just a sample of the data on a computer with 16GB of RAM but I've only been able to

[2019-01-18 22:04] PharmCat commented on #157
Thank you! I understand... But guys from US FDA wants to get analysis of pharmacokinetics data with mixed model and only with REML. And they don't want listen nothing else. Also they want to get statistical analysis of replicated data only with Heterogeneus Compound Symmetry covariation matrix.

[2019-01-21 13:08] skanskan commented on #120
The only package I've found able to deal with this amount of data and levels is R's glmmTMB.
It would be great to use its methods on Julia.

[2019-02-06 02:58] Nosferican opened #161 "Potential bug with fitted model"
I have tested dozens of models between MixedModels.jl and SAS `mixed`. However, this single model is an exception and gives different results. I am not sure why exactly.

Here is the [SAS script](https://gist.github.com/Nosferican/331b751f36f767614e5d7ea3208ad633) and the Julia script below
[code]

[2019-02-08 15:00] marynavickt opened #162 "re"
Is it possible to get the similar output with 'ranef' function (or probably the other way) from Julia as from R? Because it seems like it doesn't work as I expected. And I need to get the estimation for RE for each level of the grouping factor. Could you help with that?

[2019-02-09 07:39] #162 closed

[2019-02-19 10:23] Nosferican commented on #157
Very happy to learn REML is now available as well! #164 Will allow to specify it through `fit`.

Guess related to the new addition would be whether Kenward-Roger dof approximation can be added. Probably a good default for REML models.

[2019-02-19 10:47] Nosferican commented on #157
@dmbates Currently, REML is an option for fitting, but `dof_residual` actually needs to be aware of the method used for fitting (currently there is a bug that errors `dof_residual(::LinearMixedModel)`). Should the method for fitting be part of the struct and updated at the time of the fit? That way, methods that require awareness of it can work properly.

[2019-02-19 15:03] marynavickt opened #166 "Performance issue"
Is there a way to speed up fitting LinearMixedModel procedure by using some parallelization technique?  Cause it takes pretty much the same time on machines with 16 RAM + 4 cores and 256 RAM + 16 cores.

[2019-02-19 17:37] dmbates commented on #157
@Nosferican Do you have a reference for a computational method for the Kenward-Rogers dof approximation?  IIRC the original paper gave a formula that was not practical (the usual "just invert this n by n matrix where n is on the order of hundreds of thousands" nonsense).

The things that always bother me about that is
- it only matters for small data sets
- it could be very expensive on large data

[2019-02-19 18:07] Nosferican commented on #157
I would think the most useful would be [Halekoh and Højsgaard (2014)](https://dx.doi.org/10.18637/jss.v059.i09). Might be worthwhile to have the default trigger it based on sample size/pre-degrees of freedom.

[2019-02-19 19:13] dmbates commented on #157
The pbkrtest package has a GPL license so I can't incorporate code based on that in the `MixedModels` package.  In fact I can't even read that code if I want to incorporate this kind of capability.

[2019-02-19 20:20] Nosferican commented on #157
I think most R packages are GPL licensed, but some of the associated publications do a great job at explaining the implementation (even more than actual code could). In other words, the publication can be very useful in coming up with an implementation without ever having to look at any code which might inject copyleft.

[2019-02-20 07:14] Nosferican commented on #161
Atom's Whitespace might have played a role... I had to lower tolerance to `1e-3` which is borderline, but seems like it can be acceptable for certain problems... I validated it with R's `lme4::lmer` as well.

[2019-02-20 07:14] #161 closed

[2019-02-21 15:24] palday opened #167 "Another missing mul! method"
When fitting a complex GLMM with multiple vector-valued random effects, I get the following error:

[code]

This seems related to #152 and #153, but still occurs on v1.1.3 on Julia 1.1.0:

[code]

[2019-02-21 16:22] palday commented on #167
Adding a reproducible example that extends the `verbagg` example in the documentation:

[code]

[2019-02-25 08:16] marynavickt opened #168 "How to test significance of random effects"
Is it possible to perform test of significance for RE obtained by ranef function? Or maybe just calculate confidence intervals for each RE coefficient?

[2019-02-25 21:29] dmbates commented on #168
It is not clear what such hypothesis tests or confidence intervals would be.  Strictly speaking they don't exist because the random effects are not parameters.

It is possible to form prediction intervals but the calculation is rather complicated in all but the simplest cases.  The condVar function returns the conditional variances of the random effects but only for cases with a single, scalar ran

[2019-02-26 08:25] marynavickt commented on #168
Would that be so wrong if the calculation for multiple random-effects terms looks like this:

'll = diag(model.trms[1].Λ)'
ld = diag(model.L.data[Block(1, 1)])

ll represents models terms (in my case N = 5).
Every 5 elements of ld correspond to 5 elements in ll (FE are the same), so we probably could replicate ll k times (where k = length(ld)/length(ll)) and concatenate the results. That way ll be

[2019-02-26 19:17] dmbates commented on #167
Thank you for including the reproducible example.  I am working on a fix now.

[2019-02-26 21:10] dmbates commented on #167
I think commit 30c371be04c51e1febca79822553dc5b8c90cb87 to the master branch should address your issue.  Could you check your original example using the master branch before I create a new release?  You would do this by
[code]
then run your example.  To return to the release version use
[code]

I ask if you could run your original example because I think the `mul!` method is correct and I added a

[2019-02-26 21:11] dmbates commented on #167
I should have mentioned that the `verbaggform` would need to be modified in any case because age, `a`, is constant within subject, `id` and `(1+a|id)` is indeterminate.  Even with it changed to something like `(1+s|id)` I can't get it to converge.

[2019-02-26 21:23] dmbates commented on #168
How many random-effects terms do you have?  If you just have one term but it is a vector-valued term I should be able to cook something up for you.

[2019-02-26 22:40] palday commented on #167
Happy to do so, but I need to wait for another calculation finish first (probably a day or two).

[2019-02-27 07:37] marynavickt commented on #168
My formula looks like y~x1+x2+...+ (1|r1)+(x1|r1)+(x2|r1)+...+(x5|r1) like this  , so I suppose it's one vector-valued term. It would be really helpful if you could come up with some solution for this case.

[2019-02-27 15:57] palday commented on #167
The model is now running with `fast=true, verbose=true`, but judging by how long each iteration (it's a big dataset with lots several random slopes) is taking, it will still be a while before I can judge convergence by comparing it to a previous fit in `lme4` (that took a very long time to run).

[2019-02-27 16:18] dmbates commented on #167
Thanks for the info.

[2019-02-27 16:24] dmbates commented on #168
You don't want to use that formula.  You need to write it as
[code]
otherwise there are 6 different instances of a random intercept by levels of `r1`

[2019-02-27 16:32] marynavickt commented on #168
Sorry, my bad, forgot about 0's. That's the formula
`y ~ 1+x1+x2+...+ (1|r1) + (0+x1|r1) + (0+x2|r1) + ... + (0+x5|r1)`

[2019-02-27 17:31] dmbates commented on #166
Fitting a LinearMixedModel involves optimization of an objective with respect to parameters.  The optimization is an iterative process with each step consisting of choosing new values of the parameters, evaluating the objective at these new values, and checking for convergence.

The first thing to check is whether you are spending a lot of time in each iteration or you are doing a large number of

[2019-02-27 17:34] dmbates commented on #168
Could you send me the output from `describeblocks` applied to your model?  I want to know if the (1,1) block is `Diagonal` or `UniformBlockDiagonal`

[2019-02-27 17:49] marynavickt commented on #168
1,1: UniformBlockDiagonal{Float64} (10270, 10270) UniformBlockDiagonal{Float64}
2,1: Array{Float64,2} (1077, 10270) Array{Float64,2}
2,2: Array{Float64,2} (1077, 1077) Array{Float64,2}
3,1: Array{Float64,2} (1, 10270) Array{Float64,2}
3,2: Array{Float64,2} (1, 1077) Array{Float64,2}
3,3: Array{Float64,2} (1, 1) Array{Float64,2}

[2019-02-27 18:05] dmbates commented on #168
Okay, that is good to know.  What is
[code]

It seems to me that from that fact that you have 1077 fixed-effects parameters you probably have very large blocks in `m.A[Block(1,1)]` and that is causing the problems.

[2019-02-27 18:25] marynavickt commented on #168
[[1]]
[1] 5
[[2]]
[1] 5
[[3]]
[1] 201
attr(,"class")
[1] "JuliaTuple"

[2019-02-27 18:30] dmbates commented on #168
That looks like R output.  Can you give me the version from Julia?

Those numbers don't make sense to me because you should have the first two dimensions equal (as they are here) and the product of the first and third dimensions equal to the first dimension of the overall matrix - 10270 in this case.  But 5 * 201 = 1005

[2019-02-27 18:53] marynavickt commented on #168
You're right, was testing the model on a different dataset.
Output  5,5,2054

[2019-02-27 18:56] dmbates commented on #168
Is `first(m.L.data[Block(1,1)].facevec)` diagonal?

[2019-02-27 19:06] marynavickt commented on #168
Looks like this
    1    0       0.000000      0.00000       0.0000
    0    1       0.000000      0.00000       0.0000
    0    0      2.552594      57.90547      475.6131
    0    0      22.684949    33.90157     13453.6630
    0    0     186.325357   272.16679    10.0804

[2019-02-28 00:17] palday commented on #167
I'm not sure it is working -- the estimated variances are all exactly 1 and the correlations are all 0.00 and they were distinctly not that in the lme4 fit. Looking for a small reproducible example. the VerbAgg model with the modified formula converges in lme4 with `nAGQ=0`, which I think is the equivalent approximation for `fast=true` (whether this is a sensible model or not for that dataset is a

[2019-02-28 02:02] palday commented on #167
Note that that the VerbAgg example does not converge for `nAGQ=1`; I will continue looking for a small, sensible and shareable reproducible example.

[2019-02-28 16:40] dmbates commented on #167
Okay, I have an idea what the problem may be.  I made an assumption that I was working on a matrix in-place in that `mul!` method and I may have been working on a copy instead.  I'll check later today.

[2019-02-28 20:22] dmbates commented on #168
With commit https://github.com/dmbates/MixedModels.jl/commit/30fcb6eed49710cf849202d6288c5314422626e5 I think the `condVar` should work on your model.  Can you check for me if the values make sense to you?  It returns a `UniformBlockDiagonal` matrix with the variances on the diagonal and covariances off the diagonal.   Random effects corresponding to different levels of the grouping factor are unc

[2019-03-01 21:14] marynavickt commented on #168
Yep, got the results from condVar for my model. Could you explain what would be the right way for constructing prediction intervals?

[2019-03-12 16:32] amillscampisi opened #169 "Best practices for saving/exporting a model"
Is there a best way to save/export a model? I am estimating several different versions of a model and I would like to archive the results as I go.

[2019-03-12 19:38] dmbates commented on #169
I hadn't considered save/restore kinds of operations.

You may want to check how large a file would be generated by `@save` in the `JLD2` or `JLD` packages.

My initial thought was what would be the minimal amount of information to save so as to regenerate the fitted model and I answer that below.  However, it may not be all that difficult or wasteful to save the whole fitted model.

For a `Linear

[2019-03-27 22:10] amillscampisi opened #170 "Error when estimating discrete time hazard model"
I am estimating a discrete time hazard model and getting an unusual error.

The data looks like this:

| id | time | state | spend | event |
|:--:|:----:|:-----:|:-----:|:----:|
|  1 |   1  |   4   |  10.5 | 0 |
|  1 |   2  |   3   |  8.25 | 0 |
|  1 |   3  |   4   | 15.75 | 1 |
|...|...|...|...|...|

The code looks like this (I've included all the packages I loaded incase there is a problem with

[2019-03-28 01:20] tlienart opened #171 "Docs partially not rendering in "details of the parameter estimation""
This is what I get when visiting that page (both on stable and dev)

______

![Screen Shot 2019-03-28 at 12 11 36 pm](https://user-images.githubusercontent.com/10897531/55122587-970f2b80-5153-11e9-8861-a5439872b2ed.png)

______

I guess there's a small typo in the mathjax somewhere, not exactly sure where?

[2019-03-28 16:08] jen265 opened #172 "calculating bootstrap confidence intervals"
I tried to calculate boostrap confidence intervals for my linear mixed effects model (name: fm1) with MixedModels.jl using the syntax below (for simplicity, I dropped 8 predictors). Unfortunately, printing "bootstrap(10000, fm1)" displays the fixed effects in a random order, which makes it impossible to calculate the confidence interval for a specific fixed effect. Is it possible that printing "bo

[2019-03-30 20:02] nalimilan opened #174 "Inconsistency in Bootstrap docs"
The [manual page on bootstrap](http://dmbates.github.io/MixedModels.jl/latest/bootstrap/) seems to have a few small inconsistencies. First, it starts mentioning `bootstrap!`, but then presents `bootstrap`. Then it says "The results for each bootstrap replication are stored in the columns of the matrix passed in as the first argument.", but the example is `bootstrap(100_000, m1)`.

Besides that, th

[2019-04-09 23:18] amillscampisi commented on #170
This error went away when I upgraded to 1.1.0.

[2019-04-09 23:18] #170 closed

[2019-04-09 23:21] amillscampisi commented on #169
In the GeneralizedLinearMixedModel case, what would the consequence be of not saving the data? I am building an application that is going to be estimating a model every day. I need to save the model to track drift over time, and to do re-runs of the model. Saving the data for each day would be prohibitive.

[2019-04-10 21:17] amillscampisi opened #175 "No predict method for GeneralizedLinearMixedModels"
I am estimating a glm similar to the VerbAgg example in the documentation. The predict method doesn't support GeneralizedLinearMixedModel. I was able to replicate the error using the VerbAgg example.

[code]

And I get the following error:

[code]

[2019-04-11 16:27] amillscampisi commented on #175
I've been familiarizing myself with home Statsbase works. I think I understand how I can add a predict method. If Prof Bates can give me a few details on how it wants it implemented, I can try to implement it.

[2019-05-19 13:02] ClimateNexus commented on #175
Hi there.  any update on a predict function?  Looking to transition our regression code from lme4-R to Julia given the speed gains.  Thanks.

[2019-05-24 11:37] KOBForest opened #176 "CorStructs for Residuals"
Using the nlme R package, it is possible to specify a covariance matrix form (i.e. CS, Symm) for the residuals.
Using the systolic blood pressure data set in the MethComp package, and filtering out one of the three methods (J,S,R), such that two remain. we could fit the following model

mm1 = lme(y - meth,
   data = sbp,
   random = list(item=pdSymm( ~ meth-1)),
   weights=varIdent(form= ~1|meth),

[2019-05-24 11:39] KOBForest commented on #176
Hi Professor Bates.
I meant to add in a greeting and an expression of thanks for your time.
Kevin

[2019-06-14 15:42] #171 closed

[2019-06-23 21:42] alansz opened #179 "Precompile fail in Julia 1.1.1 (GlmResp not defined)"
Running Julia 1.1.1 with these packages added:

   Status `C:\Users\Alan Schwartz\.julia\environments\v1.1\Project.toml`
  [a93c6f00] DataFrames v0.18.3
  [38e38edf] GLM v1.2.0
  [ff71e718] MixedModels v1.1.6
  [6f49c342] RCall v0.13.3
  [df47a6cb] RData v0.6.0
  [2913bbd2] StatsBase v0.30.0
  [3eaba693] StatsModels v0.5.0
  [fd094767] Suppressor v0.1.1

using MixedModels yields:

[ Info: Precompi

[2019-06-25 17:08] dmbates commented on #179
Thanks for point this out.  I was going to experiment with the new methods for releasing a version of this package to incorporate some small fixes that @andreasnoack provided and now I can fix this problem brought about by @andreasnoack making changes in https://github.com/JuliaStats/GLM.jl

[2019-06-25 17:18] dmbates commented on #179
Sorry, I maligned @andreasnoack undeservedly.  He did fix the problem with `GlmResp` no longer being exported, it is just that I need to release a version with his fixes.

[2019-06-25 18:43] dmbates commented on #179
I just registered v"1.1.7" which should fix the problem.

[2019-06-25 18:54] dmbates commented on #175
The first thing to establish is what a predict method should do with the random effects.  If you want predictions for previously unobserved values of the grouping factor then it is reasonably straightforward to just use the fixed-effects estimates and set all the random effects to zero.  That provides the mean response at the values of the covariates.  Getting the prediction intervals is a bit tri

[2019-06-25 21:14] amillscampisi commented on #175
In my case it is both. I built a discrete time hazard model with repeated events. To control for the unbalanced panel, each individual has a mixed effect. I need to validate the model, so I set up a train-test-test split. Each group served a different purpose:

Group 1: A training group that included 1/3 of the population and all their observations. This group will be used for in-sample validation

[2019-06-25 22:41] alansz commented on #179
I confirm it's fixed. Thanks!

[2019-06-25 22:41] #179 closed

[2019-07-03 12:40] palday commented on #167
Now that terms2.0 has been merged into master, I think this issue can be closed.

[2019-07-03 12:40] #167 closed

[2019-07-10 09:55] PharmCat commented on #176
I think it also lack of lme4 package for R. And implemented in lme like this:

[code]
expression: weights = varIdent(form = ~ 1 | treat)

Example from: Brady T. West. Linear Mixed Models: A Practical Guide Using Statistical Software p 220

And of course I would really like to see this functionality in MixedModel.jl

[2019-07-30 12:26] Tokazama opened #182 "Comparing models (Equivalent to `anova` in R)"
I apologize if I missed this in the manual, but is there a method to compare models similar to `anova` in R?

[2019-07-31 07:21] Tokazama commented on #182
I found what I was looking for under `MixedModels.likelihoodratiotest`. I didn't see any documentation on this, so is it intentionally not exported or included on the docs?

[2019-08-01 18:31] Nosferican opened #185 "[bug report]"
Example [data](https://gist.github.com/Nosferican/7b1b503b9db347290e1eb854d9339751)
MixedModels is master.
[code]

[2019-08-04 14:37] nalimilan commented on #182
Note that it's been requested many times that we add `likelihoodratiotest` (or `lrtest`) to StatsBase, similar to how `ftest` is implemented in GLM. The definition could work for many different kinds of models, including MixedModels.

[2019-08-04 17:03] Tokazama commented on #182
Implementing it would be almost as simple as copying and pasting the code here. Is there a reason that both `ftest` and `lrtest` haven't made it into StatsBase?

[2019-08-06 14:44] Nosferican commented on #185
Bump. I was waiting on trying to understand this issue, but if the release might happen before that gets addressed I can add one PR for `fit(::LinearMixedModel, formula, data, args..., kw...)`.

[2019-08-06 15:19] nalimilan commented on #182
`ftest` only applies to linear models, so it doesn't make a lot of sense to have it in StatsBase. But a PR to implement `lrtest` in StatsBase based on the `ftest` code would be welcome.

[2019-08-08 16:17] dmbates commented on #185
Now that the v2.0.0 release has occurred, would you like to revisit this issue?

It is a real problem to try to fit a linear model or linear mixed model as a generalized linear model or a generalized linear mixed model because the direct calculation of the least squares or penalized least squares solution is phrased as a iterative calculation.  Evaluation of convergence criteria, etc. can get tric

[2019-08-08 16:33] dmbates commented on #176
My emphasis in this package has been on fitting mixed-effects models and allowing for complex structures in the random effects.  In the `nlme` package we were aiming for a general system for modeling variance structures and, to my mind, it just got too confusing.  The disadvantage of having three or four different ways of modifying the structure of the model is that you sometimes get cross-talk an

[2019-08-08 17:18] Nosferican commented on #185
I think I like the third approach the best. I agree with the assessment of the first and second approaches.

Would it be possible to have the `GeneralizedLinearMixedModel` fields with sensible values given that it is a linear mixed model? Doing a warning is fine. I guess since there isn't a straight way of treating the linear model as a generalized linear model, we could do a minor or patch versio

[2019-08-08 18:49] dmbates commented on #185
What I was thinking of doing is supporting
[code]
by detecting that case in the constructor for `GeneralizedLinearMixedModel` and short-circuiting the `fit!` procedure.  It would be necessary to fill out the fields in the GLMM struct but there is no need to worry about using a two stage optimization.

Let me draft something and you can take a look.

[2019-08-08 20:59] dmbates commented on #185
I started to fake a `GeneralizedLinearMixedModel` for `LinearMixedModel` cases and it got sufficiently complicated and convoluted that I decided to punt and just throw an `ArgumentError` for that case.  See the `LMMasGLMM` branch.  Ler me know if you think it is important to patch this up rather than throw an error.  I am perhaps less inclined than most to try to produce a result for a user, no ma

[2019-08-09 09:42] Nosferican commented on #185
How about providing a generic dispatch for returning the appropriate model based on the model characteristics? For example,
[code]
would return either a `GeneralizedLinearMixedModel ` or a `LinearMixedModel` depending on whether the distribution is `Normal` with canonical link? I took a similar approach in Econometrics.jl (see [example](https://nosferican.github.io/Econometrics.jl/dev/estimators/#

[2019-08-09 16:15] dmbates commented on #185
That's a good idea.  I just committed a method for fit(MixedModel,
f::FormulaTerm, dat, d::Distribution=Normal(); kw...) which seems to work
for both LinearMixedModel and GeneralizedLinearMixedModel.  Take a look at
the changes in the tests.

On Fri, Aug 9, 2019 at 4:43 AM José Bayoán Santiago Calderón <
notifications@github.com> wrote:

[2019-08-10 14:14] KOBForest commented on #176
Thanks for that. For other readers, I will provide a bit clarity as to what I am doing.

I am attempting to use LME models to compute the variance of differences $s^2_{D}$ in measurements
between various devices, where multiple measurements are taken successively on each item by each method.

This is the method comparison problem (i.e. Bland Altman plot), but with replicate measurements.

An estim

[2019-08-12 09:55] PharmCat commented on #176
Dear dmbates, contributors and all, could you kindly tell me where can I find literature source for computation techniques for MixedModels. I found "Improved Iterative Schemes for REML Estimation of Variance Parameters in Linear Mixed Models", Emma Jane Knight, but there i didn't found concrete and clear solution. May be, you can recommend source with (step-by-step) implementation and explanation

[2019-08-12 18:26] dmbates commented on #176
You could start at a recent paper, https://nextjournal.com/dmbates/complexity-in-fitting-linear-mixed-models/  That paper includes a link to our 2015 J. Statist. Software paper describing in more detail the derivation and computational methods for the [`lme4` package](https://github.com/lme4/lme4) for R.

[2019-08-12 18:30] dmbates commented on #185
@Nosferican How does the code in the LMMasGLMM branch look?

[2019-08-12 18:32] Nosferican commented on #185
It looks good. I am going to add something to the docs about the feature and add any missing `fit` method. I can commit to it and open the PR.

[2019-08-12 18:35] dmbates commented on #185
@Nosferican I have given you write permission on the repository if you want to work on this repository instead of on your own fork.

[2019-08-13 14:46] Nosferican commented on #185
A few things I found,

- We should standardize the args/kwargs for `LinearMixedModel` and `GeneralizedLinearMixedModel`.
  - `hints` is a positional argument in `LinearMixedModel` and keyword argument in `GeneralizedLinearMixedModel`.
  - `LinearMixedModel` has weights as `weights` and `GeneralizedLinearMixedModel` has `wt`
- Can `GeneralizedLinearMixedModel` have a `Normal` distribution with a no

[2019-08-13 15:43] PharmCat commented on #176
It is unreal even to try make enything wihout deep understanding of mixed model, I try to understand mixed model described as: y = Xβ + Zγ + ε

So, I have read different sources and made own understanding of problem, if I mistaken, I hope you can kindly suggest me way to getsome solution. Lets try to denote:

n - number of observation;
p - number of fixed effects constants;
q - number of random ef

[2019-08-13 16:17] dmbates commented on #185
It is possible to use a Normal distribution with a non-Identity link although it is more of a curiosity than a common occurrence.  Cook and Weisberg used a Normal distribution and an inverse link to fit the Michaelis-Menten model, `Vm*c/(K+c)` where Vm and K are the parameters to be fit and `c`, the concentration, is a covariate, in one of their books but I haven't seen other cases.

I agree that

[2019-08-13 16:31] dmbates commented on #176
You can write the model as you wish but that is not the way that methods in this package work. The methods in this package use the solution to a penalized least squares problem to provide the profiled log-likelihood as a function of a constrained parameter vector that defines the relative covariance factor.  You are welcome to write `inv(V)`, etc. but that is just a set of equations.  When you hav

[2019-08-13 17:26] dmbates commented on #185
I just saw something else that will eventually need to be addressed.  The `BlockArrays` package changed after v0.7.0 to require the underlying arrays to be the same type.  This package uses heterogeneous `BlockArrays` as shown by the output of `describeblocks` and the version of `BlockArrays` must be capped at v0.7.0.

Only a small portion of the capabilities of BlockArrays are used for `A` and `L

[2019-08-13 21:06] Nosferican commented on #185
I guess it would be proper to handle the Normal distribution and canonical links as I think canonical links are more of exceptions rather than the rule (maybe Probit being the most widely used non-canonical link). I did thought about the implication of breaking major. On that issue, technically nothing in the docs and public API had documented the `weights` with `LinearMixedModel` and in one insta

[2019-08-13 21:08] Nosferican commented on #185
As for the BlockArrays, it seems like capping it with `BlockArrays = "0.7"` should be good enough for now. That could be a patch release.

[2019-08-13 21:43] dmbates commented on #185
@Nosferican I think you meant "non-canonical links are more the exception than the rule", in which case I agree

[2019-08-13 21:48] dmbates commented on #185
It's already the case that `BlockArrays` is capped at "0.7".  I'm concerned that at some point other packages may require later versions of `BlockArrays` creating version resolution problems. It seems that `BlockArrays` is going to stay with homogeneous array types so the code here should be modified to remove the dependency.  All that is necessary is to create Matrix of AbstractMatrix elements fo

[2019-08-13 22:04] Nosferican commented on #185
Good point. It seems our dependencies might not use it, but it could be that some application uses MixedModels and BlockArrays.

[2019-08-18 14:04] Nosferican commented on #185
I am leaning towards dispatching between `LinearMixedModel` and `GeneralizedLinearMixedModel` on whether there is a positional argument with a `Distribution`. That would be the distinction while it supports the explicit constructors as well. When using the explicit, the distribution positional argument will default to `Normal()` as it does currently.

[2019-08-18 16:11] dmbates commented on #185
I just pushed a commit to the `LMMasGLMM` branch with this type of logic.   There are warnings during precompilation
[code]
which I haven't worked out.  Does this seem workable to you?

One of the problems with the methods may be the untyped `tbl` argument.  Would it work better if it was `{<:Tables.Table}` in the method signature?

[2019-08-18 16:14] Nosferican commented on #185
[code]
I think we should always have the main method work with `tbl::Tables.ColumnTable`.

[2019-08-18 16:24] dmbates commented on #185
At least with current versions of `DataFrames` and `Tables`
[code]

[2019-08-18 16:30] Nosferican commented on #185
Per current behavior when the functions call Tables.columntable,
[code]

So for design would this work?
[code]

[2019-08-18 16:31] Nosferican commented on #185
I tried doing a constructor with `MixedModel`, but had some issues with the `{T}` so I skipped that for now and worked on the `fit(::Type{MixedModel},...)`.

[2019-08-18 19:48] dmbates commented on #185
I pushed a couple of changes to the `LMMasGLMM` to fix a failing test and to re-export some of the effects coding functions from `StatsModels`.

[2019-08-24 19:23] Nosferican commented on #185
Sorry for the delay, I have pushed some changes to `LMMasGLMM` based on what we talked.
- Made arguments kw
- Added fit/fit! methods for MixedModel
- Catch Normal/Identity explicit GLMM
- weights/wt became wts consistent with GLM
- hints became contrasts consistent with StatsModels
- We might need to add a couple deprecation methods for doing a minor instead of major release
- The GLMM with Normal

[2019-08-25 19:32] alansz commented on #45
I'm having the same issue, and finally figured it out, so I'm letting folks know here for reference.

My setup is R 3.5 with JuliaCall and Julia 1.1.1.

The goal is to get VarCorr(mm).σ, which is the vector of unscaled standard deviations of the random effects, in an R-useful way.

This works to get a Julia Array object:

j$eval('VarCorr(fm2).\u03c3')

Because \u03c3 is how R conveys "unicode 03c3

[2019-09-02 11:47] jpadams16 opened #187 "Issue with ranef function"
Hi,

The ranef function no longer appears to be working fully. When fitting an LMM, using ranef works, unless the argument 'named=true' is included. When fitting a GLMM, ranef does not work at all. I receive the following error, "ERROR: MethodError: no method matching ranef(::GeneralizedLinearMixedModel{Float64})".

Using v2.0.0, I have tested on this toy example.
`N=50
x1 = repeat(1:N, outer=N)
x

[2019-09-07 10:15] dmbates commented on #187
I temporarily turned off the ability to include the names with the random effects because it required a dependency on the `NamedArrays` package for that one use.  In some ways, the more dependencies that your package has the more difficult it is to maintain and I wanted to minimize the dependencies.

I was thinking that perhaps the [`LabelledArrays`](https://github.com/JuliaDiffEq/LabelledArrays.j

[2019-09-07 14:07] #187 closed

[2019-09-11 15:47] jpadams16 opened #189 "wt argument issue"
Hi,

Model fitting does not appear to work when including the 'wt' argument. I receive the error, "MethodError: no method matching...". When the wt argument is removed the model does successfully fit.

I'm using the following example code.

model = fit!(GeneralizedLinearMixedModel(@formula(event ~ 1 + var1 * var2 + var3 + (1|var4)), dt, Bernoulli(), wt=dt[:weights]), fast=true)

Cheers.

[2019-09-11 15:56] Nosferican commented on #189
I believe that was changed to `wts` to match with GLM.jl. The deprecation, might need to be released as a patch.
Could you post the a minimal reproducible example?
Try,
[code]

[2019-09-16 13:45] dmbates commented on #189
Can we close this issue now?

[2019-09-16 16:02] andyreagan opened #191 "Documentation out-dated"
The line:

in the optimization doc is outdated, since we're on version > 2 by now.

<img width="733" alt="Screen Shot 2019-09-16 at 12 01 07 PM" src="https://user-images.githubusercontent.com/3012361/64973871-cb99af80-d879-11e9-89e9-2f357c473db5.png">

[2019-09-16 16:18] andyreagan commented on #175
At one time, I wrote some `predict` methods that worked for my own use case, but were not suitable for inclusion into the codebase as-is #113.

I'd be happy to revive these (with a fresh PR) if we can all agree up front on how a `predict` function for GLMM _should_ handle the random effects. It will be much easier to do correctly since #114 has been fixed.

[2019-09-16 17:08] Nosferican commented on #189
I think so... If anyone else has the issue maybe we can add the deprecation and add support for the old syntax.

[2019-09-16 17:08] #189 closed

[2019-09-17 00:52] skanskan opened #192 "How to cite MixedModels.jl?"
Hello.

How should we cite MixedModels.jl in an article or thesis?
I mean a BibTeX code with the authors, title...

[2019-09-17 15:55] jbrj opened #194 "a different wts argument issue / no impact on estimates"
I was unable to find much documentation on wts, but did read through related topics here.  I am seeing in some cases that the wts argument does not appear to behave as expected - weights have no impact on the reported estimates.  I put together a simple example to show the difference in outputs between lmer and MixedModels for both REML and ML.

-----
#### mm/lmm  Setup (Julia)
-----
[code]
-----

[2019-09-17 16:28] nalimilan commented on #192
Could use Zenodo, just like we recently did in GLM (https://github.com/JuliaStats/GLM.jl/pull/331). @dmbates What's your take on this?

Cc: @Nosferican

[2019-09-17 16:39] Nosferican commented on #192
Aye. I cited this package recently in a proceedings and used the Zenodo generated `.bib` file. If using the Zenodo DOI you should get something like,
[code]
I prefer to cite the all versions unless it refers to a specific version I used for generating some output (then the `year` and `doi` change). Even so, that information should be available from the `Manifest.toml` in the application.

[2019-09-17 16:43] nalimilan commented on #192
Woops, I hadn't realized that Zenodo was already enabled. Then maybe nothing is needed?

[2019-09-17 16:47] Nosferican commented on #192
If @skanskan, thinks that seems like an acceptable answer we could close the issue. I don't think we need an additional mention in the documentation since the README has the citation shield, but maybe we could entertain a PR for it in the docs. I will close the the issue in a couple days unless there are any objections.

[2019-09-17 16:58] Nosferican commented on #194
I can confirm the behavior,
MixedModels.jl,
[code]
and R's lme4
[code]
Thanks for bringing this to our attention. It seems like there is a bug with the weights. We'll check on it and add this case to the test suite to make sure we test against that in the future.

[2019-09-18 09:43] #192 closed

[2019-09-18 09:57] dmbates commented on #191
@andyreagan Could you please check the `dev` branch of the documentation and see if the explanation there is sufficient?  I can release a new version with the `zerocorr!` function and the new documentation to fit the model you indicated.  However, I would prefer to wait a couple of days as I will have more changes to incorporate in a new version.

[2019-09-18 10:28] dmbates opened #195 "(Suppression of) intercept term in lhs of random effects"
I just saw that with a experimental factor on the left hand side of random-effects term, suppressing the intercept does not give the desired model.

I can fit a model with an experimental factor, `f`, in the random effects specification for the grouping factor, `g`, and get the expected result.
[code]
Notice that the vector-valued random effects in the second model, using a term of the form `(0+f|

[2019-09-18 13:41] andyreagan commented on #191
You can release the updated docs whenever, by me.

I was simply pointing out because these little notes are easy to forget about and by the looks, it had been forgotten.

[2019-09-18 13:43] andyreagan commented on #191
The note looks the same on the `dev` branch of the docs

[2019-09-19 19:31] kleinschmidt commented on #195
The issue is that the `FullRank` schema is tracking things that were seen when parsing the fixed effects schema.  The solution to this is to just re-wrap the schema by adding
[code]
in the `apply_schema` method.

However, there's a deeper issue which is that the implicit intercept behavior is not handled properly for random effects, since it's handled in the `apply_schema(::FormulaTerm, ...)` meth

[2019-09-19 20:55] kleinschmidt commented on #195
As an example of this problem:

[code]
(note that the "implicit intercept" term is present for the fixed effects but not the random effects)

But using this method for `apply_schema`:
[code]

You get the correct/expected result:

[code]

[2019-09-19 21:51] jkrumbiegel commented on #175
I want to use a GLMM to estimate parameters for psychometric curves, and I want to generate an average psychometric curve for each of the conditions in my experiment. The participants are the random variable, so in my understanding to generate an average curve for each combination of conditions, the random effect of the participants would just be set to zero.

How do I create a prediction like tha

[2019-09-21 11:19] spinkney commented on #124
Any update on adding ordinal logistic regression?

[2019-09-21 15:44] Nosferican commented on #124
Econometrics.jl has ordinal logistic regression. However, it doesn't support mixed models so it is a simple proportional odds logistic regression. See the [example](https://nosferican.github.io/Econometrics.jl/dev/estimators/#Ordinal-Response-Models-1).

[2019-09-21 16:16] Nosferican commented on #160
@dmbates, currently MixedModels only supports in-memory, no?

[2019-09-21 16:19] Nosferican commented on #169
Depending on what you need to save, you could have a function save a subset of the model. However, depending on what you mean by re-running the model the strategy would change. For example, if it is only the data the issue, maybe in-place empty those fields in the struct.

[2019-09-23 14:11] jpadams16 commented on #187
Hi,

Thankyou for creating the patch, it appears to have fixed the instance of returning a named ranef array for Linear Mixed Models. But I still receive the error "ERROR: MethodError: no method matching ranef(::GeneralizedLinearMixedModel{Float64})" when using a Generalised Linear Mixed Model. I receive this error with and without the named argument,
ranef(GLMM) #returns error
ranef(GLMM, named=t

[2019-09-25 19:28] palday commented on #77
The  type change proposed here has actually been implemented. The application is still relevant and related to a particular way of using smooths in rERP, but that's probably something for a worked example.

@kleinschmidt Feel free to reopen if I'm wrong.

[2019-09-25 19:33] palday commented on #139
This should work in the current release.

[2019-09-25 19:33] #139 closed

[2019-09-25 19:35] #17 closed

[2019-09-25 20:07] palday commented on #123
Updating the original example a bit (including a reproducible RNG), we see that the new Terms specification doesn't tolerate non-categorical blocking variables.

[code]
I like the idea of forcing users to mark their blocking variables as categorical (because it highlights one surprisingly common misunderstanding about random effects v. nuisance parameters), but it might be nice to catch that error

[2019-09-25 20:11] palday commented on #127
The software issue should be addressed in the current release. Feel free to reopen if that's not the case.

[2019-09-25 20:11] #127 closed

[2019-09-25 20:13] palday commented on #159
@skanskan This should work in the current release.

[2019-09-25 20:13] #159 closed

[2019-09-25 20:19] kleinschmidt commented on #77
Yes that's more or less what I had in mind (for fMRI but same idea).  Let's talk this over in person.

[2019-09-25 22:13] palday commented on #160
@skanskan What are the predictors? Are `x`,`y`,`z` categorical or continuous? How many levels are there in `group`, `id` and `city`?

(Also, I'm assuming it's just for anonymizing your formula a bit, you have `y` on both sides of the formula.)

[2019-09-25 22:15] #166 closed

[2019-09-26 00:21] skanskan commented on #160
In my example:
x, w and z are continuous,
sex, group, id and city are categorical.

(It was a typo, the y it's only on the left side)

[2019-09-26 07:58] palday commented on #160
And how many levels of group, id and city? I'm trying to figure out how big and sparse the design matrix is.

[2019-09-26 13:17] palday commented on #123
Getting at the missing multiplication method, there seems to be a problem in block creation where an extra singleton dimension is created in some circumstances:

[code]

[2019-09-26 14:56] palday commented on #191
Note that there are two issues here:

1. the overly specific version reference, which is outdated, but which seems pointless to update given ...
2. the new functionality for zero correlation in the dev version and its associated syntax.

I'll update the docs to fix this.

[2019-09-26 18:22] skanskan commented on #160
I haven't worked on that analysis for a long time.
The problem here is the ID, the patient's identifier.
My dataset contains 500000 people (ID), and for each of them I have around 10 measures of each variable. (Some only have one).
City can take 30 possible values.
Sex 2.
And group 5.
The other variables can be the age, the year, the weight and the blood pressure.

[2019-09-27 07:41] #123 closed

[2019-09-27 08:55] palday commented on #160
I'm working on a similar example, but another piece of useful information would be whether the memory issue occurs when constructing or fitting the model. Can you check whether constructing the model works (with the current release version)?

[code]

If that works, then try fitting:
[code]

Since January, there have been a few changes in the internal representation that might (but probably won't :

[2019-09-27 13:30] palday commented on #157
Having looked at the `pbkrtest` code to see if I could write it out in pseudocode for somebody else to do a clean-room implementation of this, I was somewhat surprised that they actually do just compute the inverse of a large matrix (nobs x nobs). This explains a lot about the memory and time performance of that package ....

We can potentially reconsider different approximations for the degrees o

[2019-09-27 13:30] #157 closed

[2019-09-27 13:50] palday commented on #124
For multinomial models, you can achieve something similar by moving the response-categories to the predictors side. If you're trying to predict responses, you have to do a post-processing step to see what the probability is for each response, but that's relatively straightforward.

[2019-09-27 14:14] palday commented on #160
I've tried creating my own example to see where the issue arises (and making later testing easier). The total number of observations isn't a huge issue, but the number of the random effects does matter (which makes sense given the internal representation of these things):

[code]

This all works well even for 2 million observations and a non trivial number of levels of ID:

[code]
But things break

[2019-09-27 14:52] palday commented on #94
Updating the last example for the current release, we still have a problem for the general optimization, and then the general optimization fails (see #95).

[code]

[2019-09-27 15:09] Nosferican commented on #124
For mlogit/ologit in Econometrics.jl,
[code]

[2019-09-27 16:33] #191 closed

[2019-09-27 18:18] skanskan commented on #160
What if you nest   (1 | city/id)  as in lme4?
That way is faster in R and needs less memory.

[2019-09-27 18:23] skanskan commented on #160
Thanks,
Next week I'll try ypur example and with my data.
What if you nest the random effects  (1|city/ID), in R is faster and needs less memory. (I know is not exactly the same model).

[2019-09-28 09:09] palday commented on #160
The nesting syntax isn't currently supported in MixedModels. It also isn't strictly necessary in lme4 or mixed models (see #149) as long as the labels for ID are unique (i.e. don't repeat across cities if individuals don't move across cities). But brings me to the next point: do individuals move across cities? This actually makes a huge difference in the sparsity of the random effects (nested vs.

[2019-09-28 10:03] skanskan commented on #160
Most of them not.
In fact in my analysis I want to show how different are the results whether you consider one model or the other.

[2019-09-28 10:19] palday commented on #160
I've updated the `gendata` example to have strict nesting (the previous example was partially crossed):   [talldatasim.jl](https://gist.github.com/palday/0ce66d7a2c404a129430fa4a848d6518)

[2019-09-28 18:17] palday commented on #172
Bootstrap will change a bit when #202 lands. You can try out the new functionality by installing that branch:
[code]
And if you want to go back to the main release:
[code]

[2019-09-29 15:04] palday commented on #176
Duplicate of #51

[2019-09-29 15:04] #176 closed

[2019-09-29 15:17] palday commented on #120
@amillscampisi Have you tried running this on a current release? As part of my work on #160, I've simulated relatively large datasets and can do about 2m observations with 25k levels of the blocking variable on a machine with 8 GB of RAM.

@skanskan The methods used by glmmTMB (using automatic differentiation to evaluate the gradient) are fundamentally than the methods used by MixedModels.jl (grad

[2019-09-29 15:26] palday commented on #158
Potential duplicate of #51.

[2019-09-29 16:12] kleinschmidt commented on #195
Like we discussed in person, this might not actually be a big issue, if you want to treat implicit vs. explicit intercepts differently in a random effects term.  For instance, because of the regularization in how the random effects are estimated, it's okay to have "overcomplete" contrast coding (`FullDummyCoding` even when an intercept is present).

[2019-09-29 16:33] palday commented on #158
@PharmCat You can still get compound symmetry by clever specification of the random effects.

For example [adapted from here](https://pages.stat.wisc.edu/~bates/UseR2008/WorkshopD.pdf), you fit an unconstrained model like so:
[code]

And the associated compound symmetric model like so:

[code]

As specified in all the other related issues (e.g. #51, #176), implementing structured covariance matric

[2019-09-29 16:33] #158 closed

[2019-09-30 09:10] palday opened #203 "missing rankUpdate! method for repeated blocking factor"
Splitting the LHS of a single blocking factor across multiple RE groups breaks things.

[code]
I think the idea was that everything with a shared blocking should be aggregated and that the zero-correlation structure should be achieved with `zerocorr!`, so these two specifications should yield identical blocking structures:

[code]

That said, this is something to think for how we specify the LHS i

[2019-09-30 09:22] palday commented on #195
I was thinking about this too.

Maybe have explicit intercepts work the way they always do. That's obvious
We then have two bits of available syntax: no-intecerpt `(0+f|g)` and implicit intercept `(f|g)`. In `lme4`, the no-intercept formulation was typically used for achieving the zero-correlation structure by creating copies of the grouping variable.:

[code]
The double-bar syntax just re-wrote t

[2019-09-30 09:36] palday commented on #169
If you just want to archive the estimates/results from the daily model and not the model per se then you could simply save the relevant parts of the model. For example, to extract the fixed-effects, use `coeftable(m)`; for the random-effects `VarCorr(m)`, for the conditional modes `ranef(m)`.

[2019-09-30 12:14] kleinschmidt commented on #195
Just to summarize our discussion offline: we can accomplish everything we need using the standard interpretation of the LHS terms, as long as we also provide a way to force "full-rank dummy coding" for some terms (in order to generate "overcomplete" random effects, where the intercept AND full-rank dummy coding is included at the same time).  Then we'd have the following (for categorical `f` with

[2019-09-30 12:46] palday commented on #195
Yep, and then the behavior is consistent with the RHS in the fixed effects, which has two advantages:

1. The fix for the original issue remains unchanged.
2. This is consistent behavior because the LHS of the random effects really is just a by-`g` RHS.

[2019-10-01 08:08] palday commented on #182
Related: [Wald-tests in Julia](https://natsiopoulos.netlify.com/post/wald-test-julia/wald-test-julia/).

[2019-10-01 10:45] palday opened #206 "Deviance for families with dispersion parameter"
Currently, the dispersion parameter for families with one isn't taken into account when calculating the deviance for GLMMs. For example, in Julia we have:

[code]

But in R we have:

[code]

See also lme4/lme4#375.

[2019-10-01 12:24] PharmCat commented on #51
Hello! Can you kindly answer to my following question.
In equation 6 used this decomposition:
[code]
How REML estimation can be done if I not a identity matrix and replaced by R - q x q matrix with known structure, for example:
[code]

[2019-10-01 14:21] Nosferican commented on #182
I think that should probably be a simple extension of the StatisticalModel API... using `vcov`, `coef`, `dof_residual`, `hasintercept`, `islinear`... while it could provide a dist (F-Dist / Chi2), a statistic, and say the p-value. The nice aspect of having it as an extension is to focus on nice ways to express the linear restrictions. For example, based on the term names, range, term fam, matrix,

[2019-10-01 16:15] #195 closed

[2019-10-01 16:36] palday commented on #203
I misunderstood. Instead, these two models should be equivalent in their fit (but not necessarily parameterization):
- Explicit correlation structure:
[code]
- Independence of terms (only works for continuous predictors, otherwise you still have covariance within factor levels)
[code]

[2019-10-02 07:42] kleinschmidt commented on #168
BTW, with #207 you'll be able to express that formula as ` y ~ 1+x1+x2+...+ zerocorr(1+x1+x2+...|r1)`

[2019-10-03 14:54] vasishth opened #213 "Drop variance column in random effects output?"
Unless there is some reason to keep it, I would like to suggest removing the variance column entirely in the random effects part of the output. I personally never look at it, I prefer to look at the SDs. It also confuses newcomers to see both a variance and an sd column. At least one person in every course I teach (almost) always asks why it's there.

[2019-10-07 09:11] palday commented on #213
In lme4, you can actually choose -- it's just the default to display both. It wouldn't be hard to override the `show` method here to give that type of functionality, but I'm somewhat torn on the wisdom of changing the default behavior, especially since the random effects are labeled 'variance components'.

[2019-10-07 16:03] dmbates commented on #213
I don't have strong opinions either way.  The source of confusion I fear is that users will interpret the `Std.Dev.` column as being the standard error of the estimate of the variance rather than the same estimate but on the standard deviation scale rather than the variance scale.

If we did decide to omit the variances, what should that section be labelled?  As @palday says, "Variance components"

[2019-10-07 17:53] #174 closed

[2019-10-07 23:03] kliegl commented on #213
labelled?
Square root of variance components?

I don't have a strong opinion either, but would vote in favor of keeping
it.  In teaching it allowed me to illustrate the difference between model
parameters and random effects (should they be renamed to conditional
modes?) .  The values also highlight differences in scales.

Am Mo., 7. Okt. 2019 um 18:03 Uhr schrieb Douglas Bates <
notifications@gith

[2019-10-08 06:11] #213 closed

[2019-10-08 08:15] yakir12 opened #214 "Set intercept to zero"
Removing the one term **and** setting the intercept to zero in the following MWE produces an out of memory error every *other* time:
[code]
Namely:
[code]
but when it does work I get:
[code]
I thought that setting the random seed would remove any randomality here, but I was wrong.

[2019-10-08 20:36] Nosferican opened #215 "Remove BlockArrays dependency"
@dmbates, do you have any bandwidth for removing the BlockArrays dependency?

From,

_Originally posted by @dmbates in https://github.com/dmbates/MixedModels.jl/issues/185#issuecomment-520928646_

This omen is already manifested in a few projects. I believe from your comment and examining the code that it should be

https://github.com/dmbates/MixedModels.jl/blob/1745530694b13b27807c80d1dd10c8fb90e

[2019-10-10 02:39] palday commented on #214
Can you provide more information about your Julia and package versions? Using e.g. `Pkg.status()`.

On Julia 1.2, MixedModels `master` and StatsModels 0.6.4 and on Linux x86-64, your first three examples work.

The last one fails due to a `BoundsError: attempt to access 0×0 Array{Float64,2} at index [0, 0]`, which I'm guessing is the result of trying to update a non-existent fixed effects matrix.

[2019-10-10 04:03] palday commented on #51
@PharmCat Where would that R matrix come from? The decomposition that gets you to that point depends on the spherical random effects, so if your R is just a diagonal covariance matrix from the normal distribution, then this has already been factored out at this point. The constraints on the variance structure arise in the form of Λ used to transform the spherical random effects, as seen in [`zeroc

[2019-10-10 11:38] jpadams16 commented on #187
Hi @dmbates ,

Thankyou for creating the patch, it appears to have fixed the instance of returning a named ranef array for Linear Mixed Models. But I still receive the error "ERROR: MethodError: no method matching ranef(::GeneralizedLinearMixedModel{Float64})" when using a Generalised Linear Mixed Model. I receive this error with and without the named argument,
ranef(GLMM) #returns error
ranef(GLM

[2019-10-10 12:18] PharmCat commented on #51
I try to understand how REML is computed via [documentation](https://dmbates.github.io/MixedModels.jl/latest/optimization/#The-probability-model-1) and match it with mixed model REML solution described [here](https://www.jstor.org/stable/2529876?origin=JSTOR-pdf)  where V = ZGZ'+R (SAS like notation). If structured R used instead σ²I how would REML eqation changed?

[2019-10-11 00:15] #172 closed

[2019-10-11 00:21] palday commented on #51
The methods and representations used in MixedModels don't map directly onto the equations in that paper -- indeed, that's the use of a sparse representation is the major innovation in MixedModels. There is no 'structured R' at that point in the representation in MixedModels because the restrictions in the variance structures would be represented in the form of the Cholesky factor used to get to th

[2019-10-11 18:36] PharmCat commented on #51
@palday Thank you for the clarification!

[2019-10-14 23:17] #203 closed

[2019-10-17 03:08] #215 closed

[2019-10-18 01:21] palday commented on #214
Potentially relevant older comment:

_Originally posted by @dmbates in https://github.com/dmbates/MixedModels.jl/issues/120#issuecomment-448361394_

[2019-10-18 15:19] kleinschmidt opened #218 "incorrect zeroing of correlation parameters"
The [examples from the docs](https://dmbates.github.io/MixedModels.jl/latest/constructors/#Simplifying-the-random-effect-correlation-structure-1) suggest that the different syntax for removing correlations which should be equivalent are producing different results now when the LHS is categorical:

[code]

should remove all correlations with intercept:
[code]

should remove all correlations, but se

[2019-10-21 04:19] palday commented on #218
Can you report `describeBlocks` for all of these?

Displaying systematic zeros as different from estimated zeros highlights that the zeroing out isn't working as planned, so there really is something there.

For the last two, the interesting thing is that the logLik is different for the two models. What happens if you do `updateL!(setθ!(m1, m2.θ))` (do it going both ways)? If that doesn't line up

[2019-10-22 17:30] dmbates commented on #218
The problem with the second model appears to be a counting error by me.  Instead of zeroing 10 elements in the first column the first 10 elements in the row-major representation of the lower triangle are zeroed.  I'll take a look.

[2019-10-22 17:56] dmbates commented on #218
Thanks for catching that, Dave.  I should have been more careful in my testing.  If you only test the correlation in the lower triangle of a 2 by 2 matrix you don't notice if you have the values in the wrong order.  It is not just the zeroed values that are incorrect.  All the correlations in the second column and on are in the wrong places.

[2019-10-22 18:08] dmbates commented on #218
I think it is just the printing that is wrong.  I generate the correlations in column-major order but, of course, they are printed in row-major order.  I think the simplest thing to do is to return them in row-major order.  The generation step is easier to revise than the printing step.

[2019-10-25 16:22] #218 closed

[2019-11-08 20:47] hikea opened #220 "NLopt error for Bernoulli models with random slopes when NOT using fast=true"
Something strange is happening with `Bernoulli` models. Normal seems to run okay.

Also, unrelated to this issue, but the package cannot handle arrays with missing values out of the box.

[code]

[2019-11-09 10:48] palday commented on #220
Duplicate of #201

[2019-11-09 10:50] palday commented on #220
Thanks for reporting this -- it's good to have a test case for the boundary issue that isn't dependent on using gamma regression, which is generally less well tested than logistic regression.

[2019-11-09 10:55] palday commented on #220
The development version can handle missing values (by dropping them), but the more general problem is more or less inherited from JuliaStats/StatsModels.jl#17, JuliaStats/StatsModels.jl#145 and JuliaStats/StatsModels.jl#153. Please don't mix unrelated tidbits -- they distract or will be ignored. When we fix the boundary fit problem then this issue will be closed and that extra bit of info will dis

[2019-11-10 20:29] hikea commented on #220
Thank you for the tip on missing - the development version did the trick.

About the model above. I think it is problematic model that should not converge. It should give warnings. This model doesn't converge in R with either glmer or glmmTMB. Both give warnings. On close examination, it looks like the random slope for Trial doesn't account for much variance (see below). `rePCA` from `lme4` can al

[2019-11-11 10:23] palday commented on #220
While parameterization issues can cause convergence issues, these are two different sets of problems. In particular, a random effect going to zero is something that lme4 and MixedModels.jl can deal with and that's a feature, not a bug. For such boundary fits, the gradient test  isn't informative because the gradient being equal to zero is only a necessary condition for minima in the interior of a

[2019-11-11 19:23] hikea commented on #220
Thank you for clarifications!

[2019-11-22 05:40] xinkai-zhou opened #221 "Is it possible to put weights on clusters?"
The package currently supports "case weights" - weights on individual observations. I wonder if there is an easy way for me tweak the code so that I can put weights on clusters? Thank you.

[2019-11-22 05:43] Nosferican commented on #221
Could you expand on what you mean by weights on clusters?

[2019-11-22 19:09] xinkai-zhou commented on #221
Sure. If I understand correctly, in the MLE approach, the package calculates the log-likelihood ```l_i``` for cluster ```i``` and sum over all clusters to obtain the total log-likelihood ```l = \sum l_i```. I wonder if there is a way to tweak the code so that I can calculate ``` \sum w_i l_i``` where ```w_i``` is the weight for cluster ```i```.

[2019-12-05 16:37] dmbates commented on #95
I suggested on a private slack channel that it will be easier to simply remove the two-stage optimization.  That is, when `fast=true` is set the optimization proceeds as done currently but if `fast=false`, the default, then the starting estimates are simply the fixed-effects from the GLM fit and the value of theta that corresponds to an identity matrix.

I created the two-stage optimization becaus

[2019-12-11 16:09] dmbates commented on #220
@hikea I have made changes to the optimization algorithm for GLMMs in the `dropmulalphabeta` branch of the package.  Could you check your example after installing that branch as a development version?  That is
[code]

[2019-12-12 02:38] skanskan commented on #160
@palday, when I try @time df = gendata(2000000,200000); I get the error 'ERROR: DimensionMismatch("column length 199990 for column(s) ID, and is incompatible with column length 200000 for column(s) u")'
Does it have to do with the out of memory problem or a 199990 limitation for the number of columns?

[2019-12-13 15:18] palday commented on #160
No, it's related to the way the data are generated.  `gendata` isn't terribly optimized and uses a rather naive way of drawing random IDs, which can lead to problems when the number of IDs is large, especially relative to the number of observations. Basically, there's no guarantee that enough unique IDs will be generated because IDs are just draws from the set of unique IDs. For now, you can see i

[2019-12-16 05:15] hikea commented on #220
Can't get it working. Keep getting `ERROR: git revision can not be given to `develop`` Tried installing the master version, but that didn't help either.

[2019-12-17 17:54] palday commented on #220
@dmbates This example runs on the `dropmulalphabeta` branch.

[2019-12-18 22:14] vals opened #232 "Nested model MethodError, Array{Float62, 2} vs SparseMatrixCSC{Float64,Int32}?"
Hi,

I was fitting a model of the style `y ~ 1 + (1 | A) + (1 | Ab)`, where unique `Ab` levels are nested within `A`. There are 5 levels of `A` and 1,599 levels of `Ab`, with 4,755 observations.

Then I wanted to try a rougher, alternative, stratification of `A`. So that `A` would have 3 levels (instead of 5). Using the same formula, the `fit` function throws a `MethodError`:

[code]
I looked at t

[2019-12-18 22:31] palday commented on #232
Without having actually taken the time to look at your block descriptions closely (though thank you for looking around enough to know to do that! -- that's ultimately very useful information for us), I have two comments / suggestions.

1. With 5 levels, you're already getting quite close to the point where it really doesn't make sense to model it as a grouping factor in the RE and should think abo

[2019-12-19 19:52] vals commented on #232
Hi Phillip,

Thanks for getting back to me. I upgraded my Julia to 1.3, and installed the `dropmulalphabeta` branch. (Though, I had to change the command to `Pkg.add(PackageSpec(url="https://github.com/JuliaStats/MixedModels.jl", rev="dropmulalphabeta"))` for some reason).

The problem is still there with the new version.

I will try using a fixed effect instead. So I'm clear, the model you would

[2019-12-20 09:55] palday commented on #232
Ah, you have an intercepts-only model, so there's no interactions to speak of.  You should still slightly change your model to use effects coding so that the intercept keeps its current interpretation as a the grand mean (and not the mean of the reference level):

`LinearMixedModel(@formula(y ~ 1 + A + (1 | Ab)), data, constrasts=Dict(:A => EffectsCoding()))`

[2019-12-23 21:16] #220 closed

[2019-12-23 21:16] #95 closed

[2019-12-27 19:52] dmbates opened #234 "Speeding things up"
There are a couple of things I have noticed when doing some timings that could be rewritten to speed things up a bit.

When fitting a linear mixed model the bulk of the time is spent in calls to `updateL!` defined in `src/linearmixedmodel.jl`.  For a model with crossed vector-valued random effects some timings show quite a bit of the time being spent in the `lmulΛ!`.method defined around line 192

[2019-12-27 20:06] dmbates commented on #234
Hmm! It seems I may already have done the first one.  The diagonal block is handled by a call to a `scaleinflate!` method so it must be the `lmulΛ!` multiplication of the (1,2) block that is taking up time.

[2019-12-28 16:48] binari2 opened #235 "Constrain fixed effects and conditional modes of random effects"
How can I constrain some fixed effects and some conditional modes of random effects to be negative?  Not all, just specific effects.

[2019-12-28 17:37] dmbates commented on #234
Another possible enhancement is to define the λ matrix in the `ReMat` struct to be `Union{Diagonal,LowerTriangular}`.  Using a Diagonal λ when appropriate may make the `lmulΛ!` and `rmulΛ!` methods cleaner and faster.  It may be worthwhile incorporating the type of λ in the type of the `ReMat` so that methods can dispatch on it.

[2020-01-02 12:51] palday commented on #235
Why do you want to do this?

[2020-01-02 18:28] vals commented on #232
Hi,

I just wanted to get back to you that I followed your suggestion (and also read up on the difference contrast codings in the StatsModels documentation).

Thanks! Closing the issue.

[2020-01-02 18:28] #232 closed

[2020-01-23 17:11] dmbates commented on #235
It would be possible to use a constrained, penalized least squares optimization instead of the current penalized least squares but it would neither be easy to do nor fast.

[2020-01-23 17:13] palday commented on #235
@dmbates That was also my intuition. I'm curious if this is an [XY problem](http://xyproblem.info/).

[2020-01-28 23:46] liamlundy opened #242 "Variable ordering is wrong"
Basically I am getting mismatched coefficients and variables when a column is all 0's. I've included an example below showing the input data and the model result. Variable `a` is all 0's, but all the other variables should have valid coefficients and `b` does not.

I'm guessing that somehow the data for `a` gets removed because it's constant, but gets improperly added to the result. It seems like

[2020-01-29 08:21] palday commented on #242
One of the first things I learned in computer science was *garbage in, garbage out*.

That said, I think the row labelling is what's going wrong here: for a constant-zero predictor the coefficient is not uniquely defined, so in that sense, zero would be a valid estimate with undefined standard errors and hence z- and p-values. Since this is in the fixed effects, it's taking advantage of [`StatsMod

[2020-01-29 15:32] liamlundy commented on #242
Thank you for taking a look at this @palday . I edited the original example to set a seed. The effect should be consistently reproducible either way, but the numbers are as well now.

This example will fail with the following error in GLM: `ERROR: PosDefException: matrix is not positive definite; Cholesky factorization failed.`

Just to be clear, I'm not contending that there should be valid resul

[2020-01-29 15:39] kleinschmidt commented on #242
Does MixedModels not do the same posdef check that GLM does? Is there a reason for that?

On Jan 29 2020, at 10:32 am, Liam Lundy <notifications@github.com> wrote:

[2020-01-29 16:41] palday commented on #242
I suspect it's because fixed effects are boring. ;) But also because that fixed effects are marginalized out before the non linear optimization of the random effects takes place, where most of the work has been done. Skimming the code quickly, there are some checks based on rank and permuting the model matrix (the latter is probably why the ordering is wrong), but nothing checking positive definit

[2020-01-29 18:10] dmbates commented on #242
I think @palday is correct that the numbers are correct but the labels are wrong.  An `FeMat` has a pivot vector and a computational rank stored with it. The `coef` extractor is supposed to undo the pivoting but apparently it doesn't get the order of the column names `cnames` correct when it undoes the pivot.

Do you want me to look at this, @palday, or is this enough info for you to look at it?

[2020-01-29 18:17] dmbates commented on #242
It probably wouldn't be the worst thing in the world to handle the case of zero columns separately in the `FeMat` constructor. It actually works properly now except that it doesn't get the rank correct.
[code]
I don't think we need to address this right now in that this is not the case in the example here.  But eventually for profiling I will need to be a bit more careful.

[2020-01-29 18:20] dmbates commented on #242
By the way, "that fixed effects are marginalized out before the non linear optimization of the random effects takes place" is not accurate.  A better way to say what is happening is that the evaluation of the objective profiles out the fixed effects parameters.  This will become clear in the paper that we are writing - hint, hint.

[2020-01-29 22:33] palday commented on #242
@dmbates If everybody can wait a few days, I'll take a look at it and it'll be a nice way for me to get more familiar with the fixed-effects portion of the codebase. I'm somewhat satisfied with myself for feeling somewhat uneasy about my summary of the handling of the fixed effects, even if I want ahead and used it anyway. :man_facepalming:

[2020-02-03 15:05] trrrmmer opened #243 "ERROR: duplicate field name in NamedTuple: "(Intercept)" is not unique"
Dear MixedModels developers
I want to move a away from Matlab in order to speed up my data processing. I was using the mixed models toolbox from Viktor Witkovsky, which is actually only 50% slower than the implementation in Julia.
I am trying to run a rather complicated model, which worked with the matlab toolbox.
f2 = @formula(fmri~AMP+SLP+aSLP+TMP+(AMP-1|session)+(SLP-1|session)+(aSLP-1|session)

[2020-02-03 15:11] palday commented on #243
The output gives away the problem:

[code]

For the variant of the Wilkinson formula syntax used in Julia, you need `0+ ...` to suppress the intercept instead of `... -1`.

[2020-02-03 16:02] trrrmmer commented on #243
I am sorry but the model translation that you suggested gave an error message:
LoadError: ArgumentError: non-call expression encountered: $(Expr(:quote, :(AMP - 1)))

What exactly needs to be changed?
Thank you very much!

[2020-02-03 16:04] palday commented on #243
[code]

[2020-02-03 17:37] palday opened #245 "simulate! methods for GLMM"
GLMMs are not yet supported in `parametricbootstrap` largely because `simulate!` doesn't have appropriate methods for GLMM.

At least for Bernoulli models (the most common GLMM in my experience), this should be a relatively straightforward to add in. We may want to wait until the API for the linear case has stabilized a bit.

[2020-02-03 17:45] trrrmmer commented on #243
Thank you very much!!!

[2020-02-03 19:30] #243 closed

[2020-02-05 15:47] dmbates opened #246 "Switch from Printf to Base.Ryu with 1.4.0"
This is just a reminder that after Julia v1.4.0 is released we can drop the dependency on the `Printf` package, which is used exactly twice, and use `Base.Ryu.writefixed` in those two places.

[2020-02-05 15:53] dmbates opened #247 "Saving space in parametricbootstrap"
At present the MixedModelBootstrap type includes a deep copy of the original model.  In practice the only parts that are used are the inds and λ fields from the ReMat terms and the lowerbd field of the optsum field.  The lowerbd field can be generated from the inds and λ fields.

[2020-02-05 18:11] palday opened #248 "Gaussian GLMMs with non identity link"
I've found what breaks it:

[code]

This isn't quite the same, but it's related to broader issues with GLMMs and families with a dispersion parameter (see e.g. #206).

[2020-02-05 21:22] dmbates opened #250 "Does the response need to be stored as an FeMat?"
Currently the response is stored as an `FeMat` in the `allterms` field of a `LinearMixedModel`.  That was done for convenience back in the days when the random-effects terms were in a separate `reterms` field from the `feterms`.  By making the response look like a fixed-effects term the `feterms` had a concrete type of `Vector{FeMat{T}}`.

This approach has the disadvantage that a model cannot be